/*
    NAVIGATION.CSS

    - Last updated: 10.12.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.navigation {
    background: $primary-color;
}

.topbar > ul > li > a {
    text-transform: uppercase;
    font-size: rem-calc(13);
    font-family: "Helvetica Neue";
}

//=========================================
//
//=========================================