<ul class="medium-block-grid-2 large-block-grid-3" data-equalizer="">
	<li>
		<div class="article-card" data-equalizer-watch="" style="height: inherit;">
			<div class="google-map">
				<img src="https://maps.googleapis.com/maps/api/staticmap?center=https%3a%2f%2fwww.google.com.au%2fmaps%2fplace%2fGround+Floor%2c%0d%0a189+Kent+Street%2c+%0d%0aSydney%2c+NSW+2000&amp;zoom=14&amp;size=455x250&amp;maptype=roadmap&amp;markers=https%3a%2f%2fwww.google.com.au%2fmaps%2fplace%2fGround+Floor%2c%0d%0a189+Kent+Street%2c+%0d%0aSydney%2c+NSW+2000" alt="...">
			</div>
			<div class="article-card-text">
				<h3><a href="Umbraco.Web.PublishedCache.XmlPublishedCache.XmlPublishedContent#sydney-cbd-kent-street">Sydney CBD Kent Street</a></h3>
				<p><a href="https://www.google.com.au/maps/place/Ground Floor,
					189 Kent Street,
					Sydney, NSW 2000" target="_blank">Ground Floor,
					<br>
					189 Kent Street,
					<br>
				Sydney, NSW 2000</a></p>
			</div>
		</div>
	</li>
	<li>
		<div class="article-card" data-equalizer-watch="" style="height: inherit;">
			<div class="google-map">
				<img src="https://maps.googleapis.com/maps/api/staticmap?center=https%3a%2f%2fwww.google.com.au%2fmaps%2fplace%2fLevel+3%2c+%0d%0a123+Clarence+Street%2c%0d%0a+Sydney%2c+NSW+2000&amp;zoom=14&amp;size=455x250&amp;maptype=roadmap&amp;markers=https%3a%2f%2fwww.google.com.au%2fmaps%2fplace%2fLevel+3%2c+%0d%0a123+Clarence+Street%2c%0d%0a+Sydney%2c+NSW+2000" alt="...">
			</div>
			<div class="article-card-text">
				<h3><a href="Umbraco.Web.PublishedCache.XmlPublishedCache.XmlPublishedContent#sydney-cbd-clarence-street">Sydney CBD Clarence Street</a></h3>
				<p><a href="https://www.google.com.au/maps/place/Level 3,
					123 Clarence Street,
					Sydney, NSW 2000" target="_blank">Level 3,
					<br>
					123 Clarence Street,
					<br>
				Sydney, NSW 2000</a></p>
			</div>
		</div>
	</li>
	<li>
		<div class="article-card" data-equalizer-watch="" style="height: inherit;">
			<div class="google-map">
				<img src="https://maps.googleapis.com/maps/api/staticmap?center=https%3a%2f%2fwww.google.com.au%2fmaps%2fplace%2fLevel+5%2c+%0d%0a37+York+Street%2c+%0d%0aSydney%2c+NSW+2000&amp;zoom=14&amp;size=455x250&amp;maptype=roadmap&amp;markers=https%3a%2f%2fwww.google.com.au%2fmaps%2fplace%2fLevel+5%2c+%0d%0a37+York+Street%2c+%0d%0aSydney%2c+NSW+2000" alt="...">
			</div>
			<div class="article-card-text">
				<h3><a href="Umbraco.Web.PublishedCache.XmlPublishedCache.XmlPublishedContent#sydney-cbd-york-street">Sydney CBD York Street</a></h3>
				<p><a href="https://www.google.com.au/maps/place/Level 5,
					37 York Street,
					Sydney, NSW 2000" target="_blank">Level 5,
					<br>
					37 York Street,
					<br>
				Sydney, NSW 2000</a></p>
			</div>
		</div>
	</li>
	<li>
		<div class="article-card" data-equalizer-watch="" style="height: inherit;">
			<div class="google-map">
				<img src="https://maps.googleapis.com/maps/api/staticmap?center=https%3a%2f%2fwww.google.com.au%2fmaps%2fplace%2f100+Ebley+St%2c+%0d%0aBondi+Junction%2c+NSW+2022&amp;zoom=14&amp;size=455x250&amp;maptype=roadmap&amp;markers=https%3a%2f%2fwww.google.com.au%2fmaps%2fplace%2f100+Ebley+St%2c+%0d%0aBondi+Junction%2c+NSW+2022" alt="...">
			</div>
			<div class="article-card-text">
				<h3><a href="Umbraco.Web.PublishedCache.XmlPublishedCache.XmlPublishedContent#bondi-junction">Bondi Junction</a></h3>
				<p><a href="https://www.google.com.au/maps/place/100 Ebley St,
					Bondi Junction, NSW 2022" target="_blank">100 Ebley St,
					<br>
				Bondi Junction, NSW 2022</a></p>
			</div>
		</div>
	</li>
	<li>
		<div class="article-card" data-equalizer-watch="" style="height: inherit;">
			<div class="google-map">
				<img src="https://maps.googleapis.com/maps/api/staticmap?center=https%3a%2f%2fwww.google.com.au%2fmaps%2fplace%2fG48-52+Sydney+Rd%2c+%0d%0aManly%2c+NSW+2095&amp;zoom=14&amp;size=455x250&amp;maptype=roadmap&amp;markers=https%3a%2f%2fwww.google.com.au%2fmaps%2fplace%2fG48-52+Sydney+Rd%2c+%0d%0aManly%2c+NSW+2095" alt="...">
			</div>
			<div class="article-card-text">
				<h3><a href="Umbraco.Web.PublishedCache.XmlPublishedCache.XmlPublishedContent#manly">Manly</a></h3>
				<p><a href="https://www.google.com.au/maps/place/G48-52 Sydney Rd,
					Manly, NSW 2095" target="_blank">G48-52 Sydney Rd,
					<br>
				Manly, NSW 2095</a></p>
			</div>
		</div>
	</li>
	<li>
		<div class="article-card" data-equalizer-watch="" style="height: inherit;">
			<div class="google-map">
				<img src="https://maps.googleapis.com/maps/api/staticmap?center=https%3a%2f%2fwww.google.com.au%2fmaps%2fplace%2fLevel+9%2c+%0d%0a138+Albert+St%2c+%0d%0aBrisbane%2c+QLD+4000&amp;zoom=14&amp;size=455x250&amp;maptype=roadmap&amp;markers=https%3a%2f%2fwww.google.com.au%2fmaps%2fplace%2fLevel+9%2c+%0d%0a138+Albert+St%2c+%0d%0aBrisbane%2c+QLD+4000" alt="...">
			</div>
			<div class="article-card-text">
				<h3><a href="Umbraco.Web.PublishedCache.XmlPublishedCache.XmlPublishedContent#brisbane">Brisbane</a></h3>
				<p><a href="https://www.google.com.au/maps/place/Level 9,
					138 Albert St,
					Brisbane, QLD 4000" target="_blank">Level 9,
					<br>
					138 Albert St,
					<br>
				Brisbane, QLD 4000</a></p>
			</div>
		</div>
	</li>
	<li>
		<div class="article-card" data-equalizer-watch="" style="height: inherit;">
			<div class="google-map">
				<img src="https://maps.googleapis.com/maps/api/staticmap?center=https%3a%2f%2fwww.google.com.au%2fmaps%2fplace%2fLevel+4%2c+%0d%0a398+Lonsdale+Street%2c%0d%0aMelbourne%2c+VIC+3000&amp;zoom=14&amp;size=455x250&amp;maptype=roadmap&amp;markers=https%3a%2f%2fwww.google.com.au%2fmaps%2fplace%2fLevel+4%2c+%0d%0a398+Lonsdale+Street%2c%0d%0aMelbourne%2c+VIC+3000" alt="...">
			</div>
			<div class="article-card-text">
				<h3><a href="Umbraco.Web.PublishedCache.XmlPublishedCache.XmlPublishedContent#melbourne">Melbourne</a></h3>
				<p><a href="https://www.google.com.au/maps/place/Level 4,
					398 Lonsdale Street,
					Melbourne, VIC 3000" target="_blank">Level 4,
					<br>
					398 Lonsdale Street,
					<br>
				Melbourne, VIC 3000</a></p>
			</div>
		</div>
	</li>
</ul>