---
layout: internal
---

{% assign page_breaks = site.data.apc.sitemap[6].children[2].children %}

<!-- CLAIM SECTION -->
<section class="section claim-section has-medium-padding">
    <div class="row">
        <div class="columns">
            <div class="claim-module">
                <div class="claim-left">
                    <h2>{{ page.title }}</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus temporibus, vero beatae quisquam asperiores debitis perferendis maxime, corporis veniam soluta excepturi est quis amet. Natus consequatur, qui, nesciunt temporibus molestias provident officiis nisi voluptate atque modi totam nostrum soluta eos expedita necessitatibus quae error.</p>
                </div>
                <div class="claim-right">
                    <h5>On This Page</h5>
                    <ul class="triangle-list">
                        {% for item in page_breaks %}
                            <li><a href="#{{ item.url }}">{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section> <!-- .claim-section -->

{% for item in page_breaks %}
<div class='row'>
    <div class="columns">
        <div class='headed standard' id='{{ item.url }}'>
            <div class='heading'>
                <div class='padded'>
                    <h3>Meet the Alumni Profiles</h3>
                </div>
            </div>
            {% for i in (1..2) %}
            <div class='content'>
                <div class='padded'>
                    <div class='row'>
                        <div class='small-12 large-3 columns'>
                            <img alt="Apc student 200x200" class="small-12" src="http://placehold.it/200x200">
                            <br>
                            <br>
                        </div>
                        <div class='small-12 large-9 columns'>
                            <h4 class='no-transform'>Persons Name<small>Australia</small></h4>
                            <h5 class='caption no-transform'>Advanced Diploma of Business Management</h5>
                            <div class='row'>
                                <div class='small-12 large-4 columns'>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio. S...</p>
                                </div>
                                <div class='small-12 large-8 columns'>
                                    <div class='padded'>
                                        <p><i>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio. Sed nulla orci, suscipit sit amet leo in, venenatis euismod mauris. Donec eu arcu ac arcu suscipit congue eget eu nulla. Praesent blandit, ipsum a facilisis facilisis, diam sem consectetur lectus, eget efficitur nisi elit...
                                        "</i></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% unless forloop.last %}
                    <hr>
                    {% endunless %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}