---
layout: internal
---

{% assign page_breaks = site.data.apc.sitemap[3].children[2].children %}

<!-- CLAIM SECTION -->
<section class="section claim-section has-medium-padding">
    <div class="row">
        <div class="columns">
            <div class="claim-module">
                <div class="claim-left">
                    <h2>{{ page.title }}</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio ipsum dolor sit amet.</p>
                </div>
                <div class="claim-right">
                    <h5>On this Page</h5>
	                <ul class="triangle-list">
	                	{% for item in page_breaks %}
	                		<li><a href="#{{ item.url }}">{{ item.title }}</a></li>
	                	{% endfor %}
	                </ul>
                </div>
            </div>
        </div>
    </div>
</section> <!-- .claim-section -->

<!-- WIZARD STEPS -->
<div class="row">
	<div class="columns">
		<ul class="wizard small-block-grid-3 large-block-grid-6">
			<li>
				<a class="step-tab" href="#">
					<h3>Step 1 <small>Personal Details</small></h3>
				</a>
			</li>
			<li>
				<a class="step-tab" href="#">
					<h3>Step 2 <small>Visa Details</small></h3>
				</a>
			</li>
			<li>
				<a class="step-tab" href="#">
					<h3>Step 3 <small>Education Details</small></h3>
				</a>
			</li>
			<li>
				<a class="step-tab" href="#">
					<h3>Step 4 <small>Select Course</small></h3>
				</a>
			</li>
			<li>
				<a class="step-tab" href="#">
					<h3>Step 5 <small>Documents</small></h3>
				</a>
			</li>
			<li>
				<a class="step-tab" href="#">
					<h3>Step 6 <small>Submission</small></h3>
				</a>
			</li>
		</ul>
	</div>
</div>

<!-- START NEW APPLICATION -->
<div class="row">
	<div class="columns">
		<div class="step padded">
			<div class="bottom_line">
				<h3 id="#">Start a New Application</h3>
			</div>
			<div class="row">
				<div class="columns small-12 large-6">
					<div class="main_content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio. Sed nulla orci, suscipit sit amet leo in, venenatis euismod mauris. Donec eu arcu ac arcu suscipit congue eget eu nulla. Praesent blandit, ipsum a facilisis facilisis, diam sem consectetur lectus, eget efficitur nisi elit nec tellus. Morbi rutrum luctus suscipit. Nam mattis fringilla leo eget vulputate. Nunc auctor laoreet metus, in posuere justo finibus eu. Etiam commodo augue a magna malesuada so...</p>
					</div>
				</div>
				<div class="columns small-12 large-6">
					<div class="main_content">
						<div class="paddedX text-center">
							<a class="button medium swish" href=""><i class="fa fa-play" id="start-a-new-application"></i> Start a New Application
							</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- CONTINUE SAVED APPLICATION -->
<div class="row">
	<div class="columns">
		<div class="step padded">
			<div class="bottom_line">
				<h3 id="#">Continue a Saved Application</h3>
			</div>
			<div class="row">
				<div class="columns small-12 large-6">
					<div class="main_content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio. Sed nulla orci, suscipit sit amet leo in, venenatis euismod mauris. Donec eu arcu ac arcu suscipit congue eget eu nulla. Praesent blandit, ipsum a facilisis facilisis, diam sem consectetur lectus, eget efficitur nisi elit nec tellus. Morbi rutrum luctus suscipit. Nam mattis fringilla leo eget vulputate. Nunc auctor laoreet metus, in posuere justo finibus eu. Etiam commodo augue a magna malesuada so...</p>
					</div>
				</div>
				<div class="columns small-12 large-6">
					<div class="main_content">
						<!-- Application Form START -->
						<form id="application_form">
							<div class="row">
								<div class="large-12 columns">
									<label>Email Address
										<input type="text" placeholder="Email Address">
									</label>
								</div>
							</div>
							<div class="row">
								<div class="large-12 columns">
									<label>Date of Birth
										<input type="text" placeholder="00/00/1900">
									</label>
								</div>
							</div>
							<br>
							<div class="row action-links">
								<div class="large-8 small-12 columns text-left">
									<a class="button medium swish small-12" href="">
										<i class="fa fa-play"></i> Open a Saved Application
									</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>