---
layout: internal
---

{% assign page_breaks = site.data.apc.sitemap[2].children[1].children %}

<!-- CLAIM SECTION -->
<section class="section claim-section has-medium-padding">
    <div class="row">
        <div class="columns">
            <div class="claim-module">
                <div class="claim-left">
                    <h2>{{ page.title }}</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus temporibus, vero beatae quisquam asperiores debitis perferendis maxime, corporis veniam soluta excepturi est quis amet. Natus consequatur, qui, nesciunt temporibus molestias provident officiis nisi voluptate atque modi totam nostrum soluta eos expedita necessitatibus quae error.</p>
                </div>
                <div class="claim-right">
                    <h5>Campus Locations</h5>
	                <ul class="triangle-list">
	                	{% for item in page_breaks %}
	                		<li><a href="#{{ item.url }}">{{ item.title }}</a></li>
	                	{% endfor %}
	                </ul>
                </div>
            </div>
        </div>
    </div>
</section> <!-- .claim-section -->

<!-- CAMPUS SPECIFIC -->
<section class="section">
	<div class="row">
		<div class="columns">
			{% for item in page_breaks %}
			<div class="campus headed no-margin" id="{{ item.url }}">

				<div class="heading no-margin">
					<div class="padded">
						<h3>{{ item.title }}</h3>
					</div>
				</div>

				<!-- Campus Content START (campuses/campus_content) -->
				<div class="row" data-equalizer>
					<div class="large-9 columns">
						<div class="main_content padded" data-equalizer-watch>

							<div class="gallery-slider section">
								<div class="slider slider-for">
									<div><img width="100%" src="http://kenwheeler.github.io/slick/img/fonz1.png" alt=""></div>
									<div><img width="100%" src="http://kenwheeler.github.io/slick/img/fonz1.png" alt=""></div>
									<div><img width="100%" src="http://kenwheeler.github.io/slick/img/fonz1.png" alt=""></div>
									<div><img width="100%" src="http://kenwheeler.github.io/slick/img/fonz1.png" alt=""></div>
									<div><img width="100%" src="http://kenwheeler.github.io/slick/img/fonz1.png" alt=""></div>
									<div><img width="100%" src="http://kenwheeler.github.io/slick/img/fonz1.png" alt=""></div>
								</div>
								<div class="slider slider-nav">
									<div><img src="http://kenwheeler.github.io/slick/img/fonz1.png" alt=""></div>
									<div><img src="http://kenwheeler.github.io/slick/img/fonz1.png" alt=""></div>
									<div><img src="http://kenwheeler.github.io/slick/img/fonz1.png" alt=""></div>
									<div><img src="http://kenwheeler.github.io/slick/img/fonz1.png" alt=""></div>
									<div><img src="http://kenwheeler.github.io/slick/img/fonz1.png" alt=""></div>
									<div><img src="http://kenwheeler.github.io/slick/img/fonz1.png" alt=""></div>
								</div>
							</div>

							<div class="description">
								<div class="block" id="sydney-cbd-kent-street">
									<h3>{{ item.title }}</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio. Sed nulla orci, suscipit sit amet leo in, venenatis euismod mauris. Donec eu arcu ac arcu suscipit congue eget eu nulla. Praesent blandit, ipsum a facilisis facilisis, diam sem consectetur lectus, eget...</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio. S.</p>
								</div>
							</div>
						</div> <!-- .main_content -->
					</div> <!-- .large-9 -->

					<div class="large-3 columns collapse-left">
						<div class="side_content" data-equalizer-watch>
							<div class="padded">

								<!-- WEATHER WIDGET JS  -->
								<script>
								    // Docs at http://simpleweatherjs.com
								    $(document).ready(function() {
								      $.simpleWeather({
								        location: 'Queensland',
								        woeid: '',
								        unit: 'c',
								        success: function(weather) {
								          html = '<h2><i class="icon-'+weather.code+'"></i> '+weather.temp+'&deg;<small><sup>'+weather.units.temp+'</sup></small></h2>';
								          html += '<h5>'+weather.city+' | '+weather.forecast[0].date+'</h5>';

								          $("#weather").html(html);
								        },
								        error: function(error) {
								          $("#weather").html('<p>'+error+'</p>');
								        }
								      });
								    });
								</script>

								<div class="weather-widget">
									<div class="row">
										<div class="columns">
											<div id="weather"></div>
										</div>
									</div>
								</div> <!-- .weather-widget -->

								<!-- INSERT GOOGLE MAP HERE -->
								{% include shared/google_map.html %}

								<br>

								<div class="address">
									<h5>Address</h5>
									<p>Some Address<br>More Address</p>
								</div>

								<hr>

								<div class="contact">
									<h5>Contact</h5>
									<ul class="clean spaced-list">
										<li>
											<strong>Administration</strong>
											<br>
											T (612) 9251 9002
										</li>
										<li>
											<strong>Student Services</strong>
											<br>
											T (612) 9251 9000
										</li>
									</ul>
								</div>
								<hr>
								<div class="hours">
									<h5>Hours</h5>
									<ul class="clean">
										<li>7:30 AM to 10:00 PM</li>
									</ul>
								</div>
								<hr>
								<div class="campus_links">
									<h5>Campus Links</h5>
									<ul class="triangle">
										<li><a href="#">Social Events</a></li>
										<li><a href="#">Attractions</a></li>
										<li><a href="#">Getting There</a></li>
									</ul>
								</div>
								<hr>
								<!--  -->
							</div>
						</div>
					</div>

				</div> <!-- .row -->
			</div> <!-- .campus .headed -->
			<br>
			{% endfor %}
		</div> <!-- .columns -->
	</div> <!-- .row -->
</section>