---
layout: internal
---

<br>

<!-- IN PROGRESS - Need to add pathways etc -->

<!-- CLAIM SECTION: INTRO CLAIM -->
<section class="section claim-section has-medium-padding">
    <div class="row">
        <div class="columns">
            <div class="claim-module">
                <div class="claim-left">
                    <h2>Certificate IV in Accounting</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio ipsum dolor sit amet.</p>
                </div>
                <div class="claim-right">
                    <a href="/applications/how-to-apply/" class="button expand-for-small-only swish"><i class="fa fa-play"></i>&nbsp; Apply Today</a>
                    <a href="/contact-us/make-an-enquiry/#enquiry-form" class="button expand-for-small-only swish"><i class="fa fa-play"></i>&nbsp; Make an Enquiry</a>
                </div>
            </div>
        </div>
    </div>
</section> <!-- .claim-section -->

<div class='row'>
    <div class="columns">
        <!-- NOTE: english_cat is a unique class for each subject. tourism_cat, accounting_cat etc. Changes colour -->
        <div class='course english_cat'>
            <!-- Course-detail - heading START -->
            <div class='heading'>
                <div class='padded'>
                    <div class='pull-right hide-for-small-only'>
                        <div class='course-code tk-proxima-nova'>FNS40611</div>
                    </div>
                    <h1>Certificate IV in Accounting</h1>
                </div>
            </div>
            <!-- Course-detail - heading END -->

            <!-- NOTE: english_cat is a unique class for each subject. tourism_cat, accounting_cat etc. Changes colour -->
            <!-- Course-detail - content START -->
            <div class='content border-bottom english_cat'>
                <div class='row' data-equalizer>
                    <div class='small-12 large-9 columns'>
                        <div class='main_content' data-equalizer-watch>
                            <div class='padded'>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio. Sed nulla orci, suscipit sit amet leo in, venenatis euismod mauris. Donec eu arcu ac arcu suscipit congue eget eu nulla. Praesent blandit, ipsum a facilisis facilisis, diam sem consectetur lectus, eget...</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio. Sed nulla orci, susci...</p>
                                <hr>
                                <div class='course_details'>
                                    <h4>Course Structure</h4>
                                    <div class='row'>
                                        <div class='small-4 large-4 columns hide-for-small-only'></div>
                                        <div class='small-12 large-8 columns'>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec ali...</p>
                                            <ul class='dots'>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                            </ul>
                                            <div class='row'>
                                                <div class='small-6 large-6 columns'>
                                                    <ul class='dots'>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                    </ul>
                                                </div>
                                                <div class='small-6 large-6 columns'>
                                                    <ul class='dots'>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class='course_details'>
                                    <h4>Subjects</h4>
                                    <div class='row'>
                                        <div class='small-4 large-4 columns hide-for-small-only'></div>
                                        <div class='small-12 large-8 columns'>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec ali...</p>
                                            <ul class='dots'>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                            </ul>
                                            <div class='row'>
                                                <div class='small-6 large-6 columns'>
                                                    <ul class='dots'>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                    </ul>
                                                </div>
                                                <div class='small-6 large-6 columns'>
                                                    <ul class='dots'>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class='course_details'>
                                    <h4>Assessment</h4>
                                    <div class='row'>
                                        <div class='small-4 large-4 columns hide-for-small-only'></div>
                                        <div class='small-12 large-8 columns'>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec ali...</p>
                                            <ul class='dots'>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                            </ul>
                                            <div class='row'>
                                                <div class='small-6 large-6 columns'>
                                                    <ul class='dots'>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                    </ul>
                                                </div>
                                                <div class='small-6 large-6 columns'>
                                                    <ul class='dots'>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class='course_details'>
                                    <h4>Pathways</h4>
                                    <div class='row'>
                                        <div class='small-4 large-4 columns hide-for-small-only'></div>
                                        <div class='small-12 large-8 columns'>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec ali...</p>
                                            <ul class='dots'>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                            </ul>
                                            <div class='row'>
                                                <div class='small-6 large-6 columns'>
                                                    <ul class='dots'>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                    </ul>
                                                </div>
                                                <div class='small-6 large-6 columns'>
                                                    <ul class='dots'>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class='course_details'>
                                    <h4>Entry Requirements</h4>
                                    <div class='row'>
                                        <div class='small-4 large-4 columns hide-for-small-only'></div>
                                        <div class='small-12 large-8 columns'>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec ali...</p>
                                            <ul class='dots'>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                                <li>Lorem ipsum dolor sit amet, consectet...</li>
                                            </ul>
                                            <div class='row'>
                                                <div class='small-6 large-6 columns'>
                                                    <ul class='dots'>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                    </ul>
                                                </div>
                                                <div class='small-6 large-6 columns'>
                                                    <ul class='dots'>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                        <li>Lorem ipsum dolor...</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='small-12 large-3 columns'>
                        <div class='side_content' data-equalizer-watch>
                            <div class='padded'>
                                <a class="button medium swish" href=""><i class="fa fa-play"></i> Apply Now
                                </a>
                                <a class="button medium swish" href=""><i class="fa fa-play"></i> Make an Enquiry
                                </a>
                                <a class="button medium swish" href=""><i class="fa fa-play"></i> Make an Enquiry
                                </a>
                                <div class='details'>
                                    <h4>Course Quick Facts</h4>
                                    <hr>
                                    <div class='locations'>
                                        <h5>Campus Locations</h5>
                                        <ul class='triangle'>
                                            <li><a href="#">Sydney CBD Ken Street</a></li>
                                            <li><a href="#">Sydney CBD Ken Street</a></li>
                                        </ul>
                                    </div>
                                    <hr>
                                    <h5>Course Length</h5>
                                    <p>
                                    Duration: 4 terms
                                    approximately 12 months
                                    </p>
                                    <hr>
                                    <h5>Term Dates</h5>
                                    <ul class='clean'>
                                        <li>Term 1 - 02 - 05 Apr</li>
                                        <li>Term 1 - 02 - 05 Apr</li>
                                        <li>Term 1 - 02 - 05 Apr</li>
                                        <li>Term 1 - 02 - 05 Apr</li>
                                    </ul>
                                    <hr>
                                    <h5>Course Fees</h5>
                                    <ul class='clean'>
                                        <li>
                                            Weekday - Bondi Junction
                                        </li>
                                        <li>
                                            $7,200 ($1,200 per term)
                                        </li>
                                    </ul>
                                    <ul class='clean'>
                                        <li>
                                            Weekday - Bondi Junction
                                        </li>
                                        <li>
                                            $7,200 ($1,200 per term)
                                        </li>
                                    </ul>
                                    <ul class='clean'>
                                        <li>
                                            Weekday - Bondi Junction
                                        </li>
                                        <li>
                                            $7,200 ($1,200 per term)
                                        </li>
                                        <hr>
                                        <div class='row tips_block'>
                                            <div class='columns small-4 large-4'>
                                                <img alt="Streamlined" src="/img/apc/template/streamlined.jpg">
                                            </div>
                                            <div class='columns small-8 large-8'>
                                                <p>
                                                Something Here
                                                </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class='row tips_block'>
                                            <div class='columns small-4 large-4'>
                                                <img alt="Livechat" src="/img/apc/template/livechat.jpg">
                                            </div>
                                            <div class='columns small-8 large-8'>
                                                <p>
                                                Something Here
                                                </p>
                                            </div>
                                        </div>
                                        <hr>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Course-detail - content END -->
            <div class='headed standard' id='course-teachers'>
                <div class='heading'>
                    <div class='padded'>
                        <h3>Course Teachers</h3>
                    </div>
                </div>

                {% for i in (1..2) %}
                <div class='content'>
                    <div class='padded'>
                        <div class='row'>
                            <div class='small-12 large-3 columns'>
                                <img alt="Apc teacher 200x200" class="small-12" src="http://placehold.it/200x200">
                                <br>
                                <br>
                            </div>
                            <div class='small-12 large-9 columns'>
                                <h4 class='no-transform'>Persons Name<small>Persons Position</small></h4>
                                <h5 class='caption no-transform'>Certificate IV in Accounting Etc</h5>
                                <div class='row hide-for-small-only'>
                                    <div class='small-3 large-3 columns'></div>
                                    <div class='small-6 large-6 columns'>
                                        <h5 class='list-heading'>Industry Experience</h5>
                                        <ul>
                                            {% for i in (1..6) %}
                                            <li>Some list item</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class='small-6 large-6 columns'>
                                        <h5 class='list-heading'>Qualifications</h5>
                                        <ul>
                                            {% for i in (1..6) %}
                                            <li>Some list item</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% unless forloop.last %}
                        <hr>
                        {% endunless %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class='headed standard' id='student-testimonials'>
                <div class='heading'>
                    <div class='padded'>
                        <h3>Student Testimonials</h3>
                    </div>
                </div>
                {% for i in (1..2) %}
                <div class='content'>
                    <div class='padded'>
                        <div class='row'>
                            <div class='small-12 large-3 columns'>
                                <img alt="Apc student 200x200" class="small-12" src="http://placehold.it/200x200">
                                <br>
                                <br>
                            </div>
                            <div class='small-12 large-9 columns'>
                                <h4 class='no-transform'>Persons Name<small>Australia</small></h4>
                                <h5 class='caption no-transform'>Advanced Diploma of Business Management</h5>
                                <div class='row'>
                                    <div class='small-12 large-4 columns'>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio. S...</p>
                                    </div>
                                    <div class='small-12 large-8 columns'>
                                        <div class='padded'>
                                            <p><i>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio. Sed nulla orci, suscipit sit amet leo in, venenatis euismod mauris. Donec eu arcu ac arcu suscipit congue eget eu nulla. Praesent blandit, ipsum a facilisis facilisis, diam sem consectetur lectus, eget efficitur nisi elit...
                                            "</i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% unless forloop.last %}
                        <hr>
                        {% endunless %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>