---
layout: internal
---

{% assign page_breaks = site.data.apc.sitemap[1].children %}

<!-- CLAIM SECTION -->
<section class="section claim-section has-medium-padding">
    <div class="row">
        <div class="columns">
            <div class="claim-module">
                <div class="claim-left">
                    <h2>{{ page.title }}</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio ipsum dolor sit amet.</p>
                </div>
                <div class="claim-right">
                    <h5>On this Page</h5>
	                <ul class="triangle-list">
	                	{% for item in page_breaks %}
	                		<li><a href="#{{ item.url }}">{{ item.title }}</a></li>
	                	{% endfor %}
	                </ul>
                </div>
            </div>
        </div>
    </div>
</section> <!-- .claim-section -->

{% for item in page_breaks %}

<section class="section">
	<div class="row">
		<div class="columns">
			<h3 id="{{ item.url }}">{{ item.title }}</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad sint quod numquam voluptas animi excepturi consectetur iure fugiat magni eveniet inventore eum, dolores quaerat molestiae laboriosam quas eos repudiandae modi.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti accusamus eveniet iure minima neque, illo perspiciatis, voluptatem nobis eum sit necessitatibus, temporibus omnis officia dolorem, porro quo sequi minus in!</p>

			<ul class="triangle-list small-block-grid-1 medium-block-grid-2">
				{% for course in item.children %}
				<li><a href="{{ course.url }}">{{ course.title }}</a></li>
				{% endfor %}
			</ul>

			{% if item.children == null %}
			    <p class="medium-text-right"><a href="{{ item.url }}" class="button swish">Find out more</a></p>
			{% endif %}

			{% unless forloop.last %}
			    <hr>
			{% endunless %}

		</div>
	</div>
	<div class="row">
		<div class="medium-6 columns">

		</div>
		<div class="medium-6 columns"></div>
	</div>

</section>

{% endfor %}