---
layout: internal
---

<!-- IN PROGRESS - Need to add pathways etc -->

<!-- CLAIM SECTION: INTRO CLAIM -->
<section class="section claim-section has-medium-padding">
    <div class="row">
        <div class="columns">
            <div class="claim-module">
                <div class="claim-left">
                    <h2>Direct Entry Pathways</h2>
                    <p>Student visa holders can choose from over 250 courses from Certificate to Advanced Diploma level, as well as Bachelor, Master Degree. Popular course areas can be found <a href="/courses/">here</a>.</p>
                </div>
                <div class="claim-right">
                    <h5>On this Page</h5>
                    <ul class="triangle-list">
                        <li><a href="#apc-direct-entry">APC Direct Entry</a></li>
                        <li><a href="#apcs-pathway-institutions">APC's Pathway Institutions</a></li>
                    </ul>
                    <!-- <a href="/applications/apply-now/" class="button expand-for-small-only swish"><i class="fa fa-play"></i>&nbsp; All Courses</a> -->
                    <!-- <a href="/contact-us/make-an-enquiry/#enquiry-form" class="button expand-for-small-only swish"><i class="fa fa-play"></i>&nbsp; Make an Enquiry</a> -->
                </div>
            </div>
        </div>
    </div>
</section> <!-- .claim-section -->

<!-- CONTENT BREAKS -->
<section class="section">
    <div class="row">
        <div class="columns">
            <h3 id="apc-direct-entry">APC Direct Entry</h3>

            <span class="image-left"><img src="http://placehold.it/200x200"></span>
            <p>Students who graduate from Australian Pacific College will be accepted by the institutions below without having to provide results of English examinations such as IELTS or TOEFL. This is conditional upon students meeting the academic requirements of these institutions and is subject to vacancies and the availability of programs at these institutions.</p>

            <p>Students who are interested in continuing studies in Australia at University and/or College are encouraged to seek advice from the EAP Coordinator as early as possible.</p>

            <p>APC has established direct entry arrangements with a number of Australian Universities such as the UNSW Foundation Year, Macquarie University, University of Western Sydney (UWS), Central Queensland University (CQU) and many more, as well as with TAFE NSW. These enable students who have successfully completed the EAP course and met the English language and academic requirements to enter university and TAFE courses without completing an IELTS examination. More information in relation to this can be obtained by contacting the college.</p>

            <ul class="triangle-list">
                <li><a href="http://apc.edu.au/pdfs/EAP_Direct_Entry_List.pdf">EAP Entry List</a></li>
                <li><a href="http://apc.edu.au/images/vocational/APCVETArticulationChart.png">APC Articulations and Direct Entry Chart</a></li>
            </ul>

            <hr>

            <h3 id="apcs-pathway-institutions">APC’s Pathway Institutions <small>Area of Study:</small></h3>
            <br>

            <ul class="accordion" data-accordion>
                <li class="accordion-navigation">
                    <a href="#panel1a">Business / Commerce</a>
                    <div id="panel1a" class="content">

                        <!-- Desktop only -->
                        <div class="accordion-header show-for-medium-up">
                            <div class="row">
                                <div class="small-4 columns"><h5>Institution</h5></div>
                                <div class="small-5 columns"><h5>Institution Profile</h5></div>
                                <div class="small-3 columns"><h5>Relevant Course</h5></div>
                            </div>
                        </div>

                        {% for i in (1..4) %}
                            <div class="row">
                                <div class="medium-4 columns">

                                    <!-- Mobile Only -->
                                    <div class="accordion-header hide-for-medium-up">
                                        <div class="row">
                                            <div class="columns"><h5>Institution</h5></div>
                                        </div>
                                    </div>

                                    <p><strong><a href="#">Blue Mountains International Hotel Management School (BMIHMS)</a></strong></p>
                                    <p><img src="http://apc.edu.au.popdigital.com.au/media/1032/bluemoutains_logo_web.jpg?width=200&height=100&bgcolor=FFF" alt="..."></p>
                                    <p>CRICOS Provider No: 00911E
                                    <br>
                                    <a href="http://unisa.edu.au">www.unisa.edu.au</a></p>
                                </div>
                                <div class="medium-5 columns">

                                    <!-- Mobile Only -->
                                    <h5 class="hide-for-medium-up">Institution Profile</h5>

                                    <p><strong>Successful completion of:</strong> EAP A <br><strong>Extended ESSAY, presentation and other task grades:</strong> B or higher</p>
                                    <p>Established in 1991, the Blue Mountains International Hotel Management School (BMIHMS) has enjoyed remarkable growth.
 With a placement success matching its growth rate, the School continues its proud tradition of integrity, quality and educational excellence.
 Today, over 3000 students have studied at the school.
 Of those who have completed their studies, most are presently working in the hospitality industry around the world.
 Students must achieve B+ in EAP to enter the BMIHMS degree courses.</p>
                                </div>
                                <div class="medium-3 columns">

                                    <!-- Mobile Only -->
                                    <h5 class="hide-for-medium-up">Relevant Course</h5>

                                    <p>Bachelor of Business - International Hotel and Resort Management</p>
                                </div>
                            </div> <!-- .row -->

                            {% unless forloop.last %}
                            <div class="row">
                                <div class="columns">
                                    <hr>
                                </div>
                            </div>
                            {% endunless %}

                        {% endfor %}

                    </div>
                </li>
                <li class="accordion-navigation">
                    <a href="#panel2a">Education / TESOL</a>
                    <div id="panel2a" class="content">
                        Panel 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </li>
                <li class="accordion-navigation">
                    <a href="#panel3a">Health / Nursing</a>
                    <div id="panel3a" class="content">
                        Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </li>
                <li class="accordion-navigation">
                    <a href="#panel4a">Hospitality / Cookery</a>
                    <div id="panel4a" class="content">
                        Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </li>
                <li class="accordion-navigation">
                    <a href="#panel5a">IT / Graphic Design</a>
                    <div id="panel5a" class="content">
                        Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </li>
                <li class="accordion-navigation">
                    <a href="#panel6a">Travel and Tourism</a>
                    <div id="panel6a" class="content">
                        Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </li>
            </ul>

        </div> <!-- .columns -->
    </div> <!-- .row -->
</section>
