---
layout: internal
---

{% assign nodes = site.data.apc.sitemap[7].children[0].children %}

<!-- CLAIM SECTION -->
<section class="section claim-section has-medium-padding">
    <div class="row">
        <div class="columns">
	        <h2>{{ page.title }}</h2>
	        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio ipsum dolor sit amet.</p>
        </div>
    </div>
</section> <!-- .claim-section -->

<br>

<div class="row">
	<div class="headed history_filter tk-proxima-nova">
		<div class="heading">
			<div class="padded">
				<div class="text-center">
					<i class="fa fa-backward"></i>
					<span class="hidden-for-small-only">
					<a class="year" href="1997">1997</a>
					</span>
					<span class="hidden-for-small-only">
					<span class="hidden-for-small-only">
					|
					</span>
					<a class="year" href="1998">1998</a>
					</span>
					<span class="hidden-for-small-only">
					<span class="hidden-for-small-only">
					|
					</span>
					<a class="year" href="1999">1999</a>
					</span>
					<span class="hidden-for-small-only">
					<span class="hidden-for-small-only">
					|
					</span>
					<a class="year" href="2000">2000</a>
					</span>
					<span class="hidden-for-small-only">
					<span class="hidden-for-small-only">
					|
					</span>
					<a class="year" href="2001">2001</a>
					</span>
					<span class="hidden-for-small-only">
					<span class="hidden-for-small-only">
					|
					</span>
					<a class="year" href="2002">2002</a>
					</span>
					<span class="">
					<span class="hidden-for-small-only">
					|
					</span>
					<a class="year" href="2003">2003</a>
					</span>
					<span class="">
					<span class="">
					|
					</span>
					<a class="year" href="2004">2004</a>
					</span>
					<span class="">
					<span class="">
					|
					</span>
					<a class="year" href="2005">2005</a>
					</span>
					<span class="">
					<span class="">
					|
					</span>
					<a class="year" href="2006">2006</a>
					</span>
					<span class="hidden-for-small-only">
					<span class="">
					|
					</span>
					<a class="year" href="2007">2007</a>
					</span>
					<span class="hidden-for-small-only">
					<span class="">
					|
					</span>
					<a class="year" href="2008">2008</a>
					</span>
					<span class="hidden-for-small-only">
					<span class="">
					|
					</span>
					<a class="year" href="2009">2009</a>
					</span>
					<span class="hidden-for-small-only">
					<span class="">
					|
					</span>
					<a class="year" href="2010">2010</a>
					</span>
					<span class="hidden-for-small-only">
					<span class="">
					|
					</span>
					<a class="year" href="2011">2011</a>
					</span>
					<span class="hidden-for-small-only">
					<span class="">
					|
					</span>
					<a class="year" href="2012">2012</a>
					</span>
					<i class="fa fa-forward"></i>
				</div>
			</div>
		</div>
	</div>
</div>

<!--  -->

<div class="row white_back">
	<div class="main_content">
		<div class="padded">
			<div class="columns large-6 small-12">
				<div class="section">
					<div class="slider slider-for">
						<div><img width="100%" src="http://kenwheeler.github.io/slick/img/fonz1.png" alt=""></div>
						<div><img width="100%" src="http://kenwheeler.github.io/slick/img/fonz1.png" alt=""></div>
						<div><img width="100%" src="http://kenwheeler.github.io/slick/img/fonz1.png" alt=""></div>
						<div><img width="100%" src="http://kenwheeler.github.io/slick/img/fonz1.png" alt=""></div>
					</div>
					<div class="slider slider-nav">
						<div><img src="http://kenwheeler.github.io/slick/img/fonz1.png" alt=""></div>
						<div><img src="http://kenwheeler.github.io/slick/img/fonz1.png" alt=""></div>
						<div><img src="http://kenwheeler.github.io/slick/img/fonz1.png" alt=""></div>
						<div><img src="http://kenwheeler.github.io/slick/img/fonz1.png" alt=""></div>
					</div>
				</div>
			</div>
			<div class="columns large-6 small-12">
				<div class="padded">
					<h4>
					1997
					Lorem ipsum dolor...
					</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio. S...</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio. Sed nulla orci, suscipit sit am...</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio. S...</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio. Sed nulla orci, susci...</p>
				</div>
			</div>
		</div>
	</div>
</div>

<br>