---
layout: internal
---

{% assign years = site.data.apc.history %}

<!-- CLAIM SECTION -->
<section class="section claim-section has-medium-padding">
    <div class="row">
        <div class="columns">
	        <h2>{{ page.title }}</h2>
	        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio ipsum dolor sit amet.</p>
        </div>
    </div>
</section> <!-- .claim-section -->

<!-- TIMELINE CONTROLS -->
<div class="row">
	<div class="columns">
		<div class="headed history_filter text-center">
			<div class="heading">
				<div class="padded">

					<!-- For this to work, there needs to be minimum 10 entries -->
					<div class="timeline-controls">
						{% for item in years %}
							<div><span class="year">{{ item.year }}</span></div>
						{% endfor %}
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<!-- TIMELINE SLIDES -->
<section class="timeline-slides">
	{% for item in years %}
	<div>
		<div class="row">
			<div class="columns">
				<div class="main_content white_back clearfix">
					<div class="padded">
						<div class="columns large-6">
							<div class="gallery-slider section">
								<!-- Images carousel -->
								<div class="slider slider-for">
									{% for i in (1..4) %}
										<div><img width="100%" src="http://lorempixel.com/560/400/sports?{{i}}{{item.title|slugify}}" alt="..."></div>
									{% endfor %}
								</div>
								<!-- Images mirrored -->
								<div class="slider slider-nav">
									{% for i in (1..4) %}
										<div><img width="100%" src="http://lorempixel.com/560/400/sports?{{i}}{{item.title|slugify}}" alt="..."></div>
									{% endfor %}
								</div>
							</div>
						</div>
						<div class="columns large-6">
							<h4>{{ item.title }}</h4>
							<!-- WYSIWYG -->
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio. S...</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio. Sed nulla orci, suscipit sit am...</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio. S...</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio. Sed nulla orci, susci...</p>

							{% if forloop.index == 3 %}
							    <img style="width: 500px; height: 408.0068143100511px;" src="http://apc.edu.au.popdigital.com.au/about-us//media/1243/history_2008.png?width=500&amp;height=408.0068143100511" alt="undefined" rel="2288">
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</section>