---
layout: internal
---

{% assign page_breaks = site.data.apc.sitemap[3].children[0].children %}

<!-- CLAIM SECTION -->
<section class="section claim-section has-medium-padding">
    <div class="row">
        <div class="columns">
            <div class="claim-module">
                <div class="claim-left">
                    <h2>{{ page.title }}</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio ipsum dolor sit amet.</p>
                </div>
                <div class="claim-right">
                    <h5>On this Page</h5>
	                <ul class="triangle-list">
	                	{% for item in page_breaks %}
	                		<li><a href="#{{ item.url }}">{{ item.title }}</a></li>
	                	{% endfor %}
	                </ul>
                </div>
            </div>
        </div>
    </div>
</section> <!-- .claim-section -->

<!-- STEPS -->
<div class="row">
	<div class="columns">

		<div id="steps-to-apply">
			{% for i in (1..5) %}
			<div class="step">
				<div class="padded">
					<div class="row">
						<div class="large-8 columns">
							<h3>Step {{ forloop.index }}</h3>
						</div>
						<div class="large-4 columns hide-for-small-only">
							<div class="padded">
								<h5>Information Links</h5>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="large-8 columns">
							<h4>Some Title</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio. Sed nulla orci, suscipit sit amet leo in, venenatis euismod mauris. Donec eu arcu ac arcu suscipit congue eget eu nulla. Praesent blandit, ipsum a facilisis facilisis, diam sem consectetur lectus, eget...</p>
						</div>
						<div class="large-4 columns">
							<div class="padded">
								<ul class="triangle-list">
									{% for i in (1..4) %}
										<li><a href="/how-to-apply">Some Link</a></li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>

	</div>
</div>

<br>

<!-- COURSE FEES SECTION -->
<section class="section">
	{% for item in page_breaks %}
	<div class="row">
		<div class="columns">
			<h3 id="{{ item.url }}">{{ item.title }}</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad sint quod numquam voluptas animi excepturi consectetur iure fugiat magni eveniet inventore eum, dolores quaerat molestiae laboriosam quas eos repudiandae modi.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti accusamus eveniet iure minima neque, illo perspiciatis, voluptatem nobis eum sit necessitatibus, temporibus omnis officia dolorem, porro quo sequi minus in!</p>

			{% unless forloop.last %}
			<hr>
			{% endunless %}

		</div> <!-- .columns -->
	</div> <!-- .row -->
	{% endfor %}
</section>