---
layout: internal
---

{% assign page_breaks = site.data.apc.sitemap[7].children[0].children %}

<!-- CLAIM SECTION -->
<section class="section claim-section has-medium-padding">
    <div class="row">
        <div class="columns">
            <div class="claim-module">
                <div class="claim-left">
                    <h2>{{ page.title }}</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio ipsum dolor sit amet.</p>
                </div>
                <div class="claim-right">
                    <h5>On this Page</h5>
	                <ul class="triangle-list">
	                	{% for item in page_breaks %}
	                		<li><a href="#{{ item.url }}">{{ item.title }}</a></li>
	                	{% endfor %}
	                </ul>
                </div>
            </div>
        </div>
    </div>
</section> <!-- .claim-section -->

{% for item in page_breaks %}
<div class="row">
	<div class="columns">
		<div class="step padded">
			<div class="bottom_line">
				<h3 id="{{ item.url }}">{{ item.title }}</h3>
			</div>
			<div class="row">
				<div class="columns small-12 large-6">
					<div class="main_content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio. Sed nulla orci, suscipit sit amet leo in, venenatis euismod mauris. Donec eu arcu ac arcu suscipit congue eget eu nulla. Praesent blandit, ipsum a facilisis facilisis, diam sem consectetur lectus, eget efficitur nisi elit nec tellus. Morbi rutrum luctus suscipit. Nam mattis fringilla leo eget vulputate. Nunc auctor laoreet metus, in posuere justo finibus eu. Etiam commodo augue a magna malesuada so...</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio. S...</p>
					</div>
				</div>
				<div class="columns small-12 large-6">
					<div class="main_content">
						<form class="enquiry-form">
							<div class="row">
								<div class="large-6 columns">
									<label>First Name
										<input type="text" placeholder="John">
									</label>
								</div>
								<div class="large-6 columns">
									<label>Last Name
										<input type="text" placeholder="Smith">
									</label>
								</div>
							</div>
							<div class="row">
								<div class="large-12 columns">
									<label>Email Address
										<input type="text" placeholder="john.smith@example.com">
									</label>
								</div>
							</div>
							<div class="row">
								<div class="large-12 columns">
									<label>Phone Number
										<input type="text" placeholder="(05) 555 555 ">
									</label>
								</div>
							</div>
							<div class="row">
								<div class="large-12 columns">
									<label>Message
										<textarea placeholder="Enter message here" rows="10"></textarea>
									</label>
								</div>
							</div>
							<div class="row">
								<div class="columns text-right">
									<button class="button swish"><i class="fa fa-play"></i> Submit Enquiry</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}