---
layout: internal
---

<!-- CLAIM SECTION -->
<section class="section claim-section has-medium-padding">
    <div class="row">
        <div class="columns">
          <h2>{{ page.title }}</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio ipsum dolor sit amet.</p>
        </div>
    </div>
</section> <!-- .claim-section -->

<div class="row form">
    <div class="padded">
      <div class="row bottom_line">
        <h3>
          Enquiry Form
        </h3>
      </div>
      <div class="row">
        <div class="columns small-12 large-6">
          <div class="main_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio. Sed nulla orci, suscipit sit amet leo in, venenatis euismod mauris. Donec eu arcu ac arcu suscipit congue eget eu nulla. Praesent blandit, ipsum a facilisis facilisis, diam sem consectetur lectus, eget efficitur nisi elit nec tellus. Morbi rutrum luctus suscipit. Nam mattis fringilla leo eget vulputate. Nunc auctor laoreet metus, in posuere justo finibus eu. Etiam commodo augue a magna malesuada so...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio. S...</p>
          </div>
        </div>
        <div class="columns small-12 large-6">
          <div class="main_content">
            <!-- Application Form START -->

            <form id="application_form">
                <div class="row">
                <div class="large-6 columns">
                  <label>First Name
                    <input type="text" placeholder="First Name">
                  </label>
                </div>
                <div class="large-6 columns">
                  <label>Last Name
                    <input type="text" placeholder="Last Name">
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="large-12 columns">
                  <label>Email Address
                    <input type="text" placeholder="Email Address">
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="large-12 columns">
                  <label>Phone Number
                    <input type="text" placeholder="(123) 1234 5678 ">
                  </label>
                </div>
              </div>
              <!--  <div class="row">
                <div class="large-12 columns">
                  <label>Select Box
                    <select>
                      <option value="husker">Husker</option>
                      <option value="starbuck">Starbuck</option>
                      <option value="hotdog">Hot Dog</option>
                      <option value="apollo">Apollo</option>
                    </select>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="large-12 columns">
                  <label>Choose Your Favorite</label>
                  <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Red</label>
                  <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>
                </div>
              </div>
              <div class="row">
                <div class="large-12 columns">
                  <label>Check these out</label>
                  <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
                  <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
                </div>
              </div> -->
                <div class="row">
                <div class="large-12 columns">
                  <label>Message
                    <textarea placeholder="" rows="20"></textarea>
                  </label>
                </div>
              </div>
              <div class="row action-links">
                    <div class="large-6 small-12 columns text-left">
                </div>

                <div class="large-6 small-12 columns text-right">
                  <a class="button medium round swish small-12" href="">
                    <i class="fa fa-play"></i> Submit
            </a>    </div>
                <!--
                <button class="button round swish">Save Application</button>
                -->
              </div>
            </form>
            <!-- /Application Form END -->
          </div>
        </div>
      </div>
    </div>
  </div>