---
layout: internal
---

<br>

<section class="section">
	<div class="row">
		<div class="columns">
				<div class="content">

					<div class="row">
						<div class="large-3 columns">
							<p><img alt="Apc news 200x200" src="http://placehold.it/200x200"></p>
						</div>
						<div class="large-9 columns">
							<h1 style="text-transform: none;">There's Nothing Finer than Being in Your Diner<small class="date"><br>Sunday, 1 October 2013</small></h1>
							<p>Posted by <a href="#">Australian Pacific College</a></p>

							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio. Sed nulla orci, suscipit sit amet leo in, venenatis euismod mauris. Donec eu arcu ac arcu suscipit congue eget eu nulla. Praesent blandit, ipsum a facilisis facilisis, diam sem consectetur lectus, eget efficitur nisi elit nec tellus. Morbi rutrum luctus suscipit. Nam mattis fringilla leo eget vulputa...</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit odit, quisquam libero quod inventore vitae, soluta laboriosam ipsum illo, quidem deserunt nobis quos numquam facere esse repudiandae amet corrupti sequi maxime quia cupiditate debitis aspernatur consequuntur. Reiciendis, alias. Non consequatur quia cumque, repellat sapiente! Ipsa asperiores repudiandae fugiat, laudantium explicabo ut cumque necessitatibus! Eaque in ratione neque nobis, doloremque voluptatum, odio vitae quod. Ratione neque error tenetur odio quidem illum minima harum perferendis consequuntur nulla suscipit, dolorum natus impedit nihil ipsa fugiat at eius</p>
							<p>nemo, enim reprehenderit veniam autem temporibus saepe assumenda voluptatibus. Similique id non consectetur laboriosam iusto doloremque, fuga animi sint incidunt. Dolores nobis totam minima doloremque, facere sit nam reiciendis, quam vel sequi, repellat illo veniam fugiat at eveniet. Voluptates repellendus impedit illum sint aliquid error aperiam aut in unde a. Reiciendis velit qui ipsam voluptate sed voluptatibus fuga perspiciatis nemo quos accusamus vel ea magni possimus dolorum, debitis quibusdam dolor cum, cumque minima, omnis excepturi mollitia. Ex unde voluptatum pariatur natus ea, libero dignissimos, ipsam quod dolorum doloremque sapiente amet mollitia eveniet voluptate aliquam, fugiat inventore id! Architecto similique, aperiam soluta aliquid rerum doloremque dolore neque modi in, ipsum, reiciendis deleniti vel minus temporibus rem. Sunt?</p>

							<hr>

							<ul class="lv-inline-list">
								<li><i class="fa fa-tags"></i>&nbsp; <b>Tags:</b></li>
								{% for i in (1..5) %}
									<li><a href="#">loremip</a>,</li>
								{% endfor %}
							</ul>

							<p><a class="right" href="#next">Next Article &nbsp;<i class="fa fa-angle-right"></i></a></p>

						</div>
					</div> <!-- .row -->

			</div> <!-- .content -->
		</div> <!-- .columns -->
	</div> <!-- .row -->
</section>

