---
layout: internal
---

{% assign page_breaks = site.data.apc.sitemap[5].children %}

<!-- CLAIM SECTION -->
<section class="section claim-section has-medium-padding">
    <div class="row">
        <div class="columns">
            <div class="claim-module">
                <div class="claim-left">
                    <h2>{{ page.title }}</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio ipsum dolor sit amet.</p>
                </div>
                <div class="claim-right">
                    <h5>On this Page</h5>
                    <ul class="triangle-list">
                        {% for item in page_breaks %}
                            <li><a href="#{{ item.url }}">{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section> <!-- .claim-section -->

<!-- News Blocks -->
<section class="section show-for-medium-up">
    <div class="row">
        <div class="columns">
            <ul class="news-tiles">
                <li>
                    <h3>News</h3>
                    <article class="info-tile news-tile">
                        <div class="info-tile-body">
                            <h6>{{ "What's the Deal with Airline peanuts?" | truncate: 50 }}</h6>
                            <!-- TRUNCATE - just do it -->
                            <p>{{ "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec..." | truncate: 120 }}</p>
                            <br>
                            <div class="news-tile-button"><a href="/news-and-events/news/news-item/" class="button swish"><i class="fa fa-play"></i>&nbsp; Read More</a></div>
                        </div>
                    </article>
                </li>
                <li>
                    <h3>Events</h3>
                    <article class="info-tile news-tile">
                        <div class="info-tile-body">
                            <h6>{{ "That's Pie Country. They Do a lot of Baking Up there." | truncate: 50 }}</h6>
                            <!-- TRUNCATE - just do it -->
                            <p>{{ "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec..." | truncate: 120 }}</p>
                            <br>
                            <div class="news-tile-button"><a href="/news-and-events/news/news-item/" class="button swish"><i class="fa fa-play"></i>&nbsp; Read More</a></div>
                        </div>
                    </article>
                </li>
                <li>
                    <h3>Media</h3>
                    <article class="info-tile news-tile">
                        <div class="info-tile-body">
                            <h6>{{ "There's Nothing Finer than Being in Your Diner." | truncate: 50 }}</h6>
                            <!-- TRUNCATE - just do it -->
                            <p>{{ "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec..." | truncate: 120 }}</p>
                            <br>
                            <div class="news-tile-button"><a href="/news-and-events/news/news-item/" class="button swish"><i class="fa fa-play"></i>&nbsp; Read More</a></div>
                        </div>
                    </article>
                </li>
                <li>
                    <h3>Connect</h3>
                    <article class="info-tile news-tile">
                        <div class="info-tile-body">
                            <p class="text-center img">
                                <a href="/news-and-events/news/news-item/">
                                    <img src="/img/apc/template/facebook-stamp.jpg" alt="Facebook">
                                </a>
                            </p>
                            <br>
                            <div class="news-tile-button"><a href="/news-and-events/news/news-item/" class="button swish"><i class="fa fa-play"></i>&nbsp; connect</a></div>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</section>