---
layout: internal
---

<!-- IN PROGRESS - Need to add pathways etc -->

<!-- CLAIM SECTION: INTRO CLAIM -->
<section class="section claim-section has-medium-padding">
    <div class="row">
        <div class="columns">
            <div class="claim-module">
                <div class="claim-left">
                    <h2>University Pathways (VET)</h2>
                    <p>Our accredited programs are designed to maximize the academic potential of each student and open pathways and opportunities through education.</p>
                </div>
                <div class="claim-right">
                    <h5>On this Page</h5>
                    <ul class="triangle-list">
                        <li><a href="#open-pathways-and-opportunities">Open Pathways and Opportunities</a></li>
                        <li><a href="#vet-articulation-for-credit-transfers-to">Vet Articulation for Credit Transfers to:</a></li>
                    </ul>
                    <!-- <a href="/applications/apply-now/" class="button expand-for-small-only swish"><i class="fa fa-play"></i>&nbsp; All Courses</a> -->
                    <!-- <a href="/contact-us/make-an-enquiry/#enquiry-form" class="button expand-for-small-only swish"><i class="fa fa-play"></i>&nbsp; Make an Enquiry</a> -->
                </div>
            </div>
        </div>
    </div>
</section> <!-- .claim-section -->

<!-- CONTENT BREAKS -->
<section class="section">
    <div class="row">
        <div class="columns">
            <h3 id="open-pathways-and-opportunities">Open Pathways and Opportunities</h3>

            <p>APC Diploma and Advanced Diploma graduates can continue their studies in Accounting, Business, Hospitality, IT, Marketing, Management or Tourism with credits in a related undergraduate program at most Australian universities, providing they meet all the university’s requirements.</p>

            <p>APC has articulation agreements in place with a selection of universities and higher education providers including, but not limited to, BMIHMS, CQUniversity, ECU, Griffith University, ICMS, Kaplan, Raffles, University of Canberra, UNE, USA, USQ, USC and UoW. Please enquire or check our website for regular updates.</p>

            <ul class="triangle-list">
                <li><a href="http://apc.edu.au/pdfs/APC_VET_Articulation.pdf">APC VET Articulation List</a></li>
                <li><a href="http://apc.edu.au/images/vocational/APCVETArticulationChart.png">APC VET Articulation Chart</a></li>
            </ul>

            <hr>

            <h3 id="vet-articulation-for-credit-transfers-to">Vet Articulation For Credit Transfers to:</h3>

            <p>Your APC qualification is recognised at the institutions below:</p>
            <br>

            <ul class="triangle-list">
                <li><a href="#">Central Queensland University</a></li>
                <li><a href="#">Blue Mountains International Hotel Management School</a></li>
                <li><a href="#">University of Southern Queensland</a></li>
                <li><a href="#">Griffith University</a></li>
                <li><a href="#">University of New England</a></li>
                <li><a href="#">University of the Sunshine Coast</a></li>
                <li><a href="#">University of South Australia</a></li>
                <li><a href="#">Edith Cowan University</a></li>
                <li><a href="#">International College of Management Sydney</a></li>
                <li><a href="#">Kaplan Business School</a></li>
                <li><a href="#">Raffles - College of Design and Commerce</a></li>
                <li><a href="#">University of Canberra</a></li>
                <li><a href="#">University of Woolongong</a></li>
            </ul>

        </div> <!-- .columns -->
    </div> <!-- .row -->
</section>
