/*
    BUTTONS.CSS

    - Last updated: 10.12.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.button {
    text-transform: uppercase;
}

.button.swish {
    border-radius: 6px 0 6px 0;

    i {
        font-size: .8em;
        margin-right: rem-calc(3);
    }
}

//=========================================
//
//=========================================