/*
    BUTTONS.CSS

    - Last updated: 03.01.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.button {
    text-transform: uppercase;
}

//=========================================
// Swish
//=========================================

.button.swish {
    border-radius: $global-radius 0 $global-radius 0;

	&.tiny {
		border-radius: $global-radius/2 0 $global-radius/2 0;
	}

    i {
        font-size: .8em;
        margin-right: rem-calc(3);
    }
}

//=========================================
// Muted
//=========================================

a.button.muted {
    background-color: $apc_grey !important;
}

//=========================================
//
//=========================================