/*
    BUTTONS.CSS

    - Last updated: 10.12.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.button {
    text-transform: uppercase;
}

.button.swish {
    border-radius: $global-radius 0 $global-radius 0;

	&.tiny {
		border-radius: $global-radius/2 0 $global-radius/2 0;
	}

    i {
        font-size: .8em;
        margin-right: rem-calc(3);
    }
}

//=========================================
//
//=========================================