/*
    FOOTER.CSS

    - Last updated: 08.01.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Footer
//-----------------------------------------------------------------

.footer {
    a {
        color: $apc_grey;
        font-size: rem-calc(13);

        &:hover {
            color: $primary-color;
        }

        &.primary-color {
            color: $primary-color;
        }
    }

    //=========================================
    // Footer Top
    //=========================================

    .footer-top {
        background: white;
        border-bottom: 15px solid $apc_blue;
        padding: rem-calc(24);
    }

    //=========================================
    // Footer Bottom
    //=========================================

    .footer-bottom {
        padding: rem-calc(20);
    }
}

//=========================================
//
//=========================================