/*
    HERO.CSS

    - Last updated: 19.12.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------



//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.lv-hero {
    border-bottom: 6px solid $primary-color;

    .lv-hero-caption h1 {
        display: inline-block;
        background: $primary-color;
        color: white;
        padding: rem-calc(15 30);
        border-radius: 20px 0 0 0;
        margin-bottom: 0;
        font-weight: 800;
    }

    .lv-hero-caption-body {
        background: white;
        padding: rem-calc(20 30);
        border-radius: 0 0 20px 0;
        margin-bottom: rem-calc(60);

        p {
            line-height: 1.5;
            color: $apc-grey;
            font-size: rem-calc(19);
        }
    }

    .button {
        text-transform: uppercase;
    }
}

// .lv-super .slick-prev:before,
// .lv-super .slick-next:before {
//     font-size: rem-calc(37);
// }

//=========================================
//
//=========================================