@import "foundation/components/block-grid";
/*
    MEDIA.CSS

    - Last updated: 10.12.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.info-tile {
    background: white;
    border-radius: $global-radius*2 0 0 0;

    h3 {
        background: #808285;
        color: white;
        margin-bottom: 0;
        border-radius: $global-radius*2 0 0 0;
        padding: rem-calc(15 20);
    }

    &.english-cat h3 { background: $english_cat; }
    &.hospitality-cat h3 { background: $hospitality_cat; }
    &.accounting-cat h3 { background: $accounting_cat; }
    &.marketing-cat h3 { background: $marketing_cat; }
    &.tourism-cat h3 { background: $tourism_cat; }
    &.information-tech-cat h3 { background: $information_tech_cat; }
    &.business-cat h3 { background: $business_cat; }
    &.management-cat h3 { background: $management_cat; }
    &.tesol-cat h3 { background: $tesol_cat; }

    .info-tile-body {
        padding: rem-calc(20);
        height: 100%;
    }

    li a {
        color: $apc-grey;
    }
}

// Warning: Very specific module - used on homepage

.news-tiles {
    @media #{$medium-up} {
        @include block-grid($per-row: 2, $spacing: $block-grid-default-spacing, $base-style: true);
    }
    @media #{$xlarge-up} {
        @include block-grid($per-row: 4, $spacing: $block-grid-default-spacing, $base-style: true);
    }
}

.news-tiles-pair {
    @media #{$medium-up} {
        @include block-grid($per-row: 1, $spacing: $block-grid-default-spacing, $base-style: true);
    }
    @media #{$xlarge-up} {
        @include block-grid($per-row: 2, $spacing: $block-grid-default-spacing, $base-style: true);
    }
}

.news-tile {
    position: relative;
    border-radius: 0;
    height: rem-calc(260);
    overflow: hidden;

    .img {
        line-height: rem-calc(150); // magic
    }

    // Special widths
    .news-tile-button {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $apc-grey;
    }
}

//=========================================
//
//=========================================