@import "foundation/components/block-grid";
/*
    MEDIA.CSS

    - Last updated: 10.12.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

/*
    MEDIA.CSS

    - Last updated: 10.12.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Media
//-----------------------------------------------------------------

.media-block {
    background: white;
    padding: rem-calc(20);
}

.cardo {
    background: white;
    border-bottom: 1px solid #e3e3e3;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 30px;
}

.course-section .article-card {
    padding: rem-calc(30);
}



.news-module {
    margin-bottom: rem-calc(10);
}

.article-card {
    // box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.05);
    display: block;
    background: white;
    min-height: rem-calc(400);
}

.article-card h3 {
    font-weight: 300;
}

.article-card img {
    width: 100%;
}

.article-card .img {
    display: block;
    width: 100%;
    background: #4AB0E2;
    text-align: center;

    i {
        font-size: rem-calc(80);
        line-height: 200px;
        color: white;
    }
}

// Handles images with cover, for feed images
.article-card .img-bg {
    display: block;
    width: 100%;
    height: rem-calc(200);
    background-repeat: no-repeat;
    background-position: center center;

    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.article-card-text {
    // background: white;
    padding: rem-calc(20);
    color: #777;
    border-radius: 0 0 $global-radius $global-radius;
}

//-----------------------------------------------------------------
// Promo Tile
//-----------------------------------------------------------------

.promo-tile {
    background: white;
    padding: rem-calc(30);
    border-radius: $global-radius;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.05);
    color: #777;
}

.promo-tile h3 {
    font-weight: 300;
}

.promo-tile a {
    color: #777;
}

.promo-tile-badge {
    background: #8BCBB8;
    font-size: rem-calc(50);
    width: rem-calc(170);
    height: rem-calc(170);
    line-height: rem-calc(170);
    margin: 0 auto rem-calc(15) auto;
    border-radius: 1000px;
    color: white;
}

//=========================================
//
//=========================================
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.info-tile {
    background: white;
    border-radius: $global-radius*2 0 0 0;

    h3 {
        background: #808285;
        color: white;
        margin-bottom: 0;
        border-radius: $global-radius*2 0 0 0;
        padding: rem-calc(15 20);
    }

    &.english-cat h3 { background: $english_cat; }
    &.hospitality-cat h3 { background: $hospitality_cat; }
    &.accounting-cat h3 { background: $accounting_cat; }
    &.marketing-cat h3 { background: $marketing_cat; }
    &.tourism-cat h3 { background: $tourism_cat; }
    &.information-tech-cat h3 { background: $information_tech_cat; }
    &.business-cat h3 { background: $business_cat; }
    &.management-cat h3 { background: $management_cat; }
    &.tesol-cat h3 { background: $tesol_cat; }

    .info-tile-body {
        padding: rem-calc(20);
        height: 100%;
    }

    li a {
        color: $apc-grey;
    }
}

// Warning: Very specific module - used on homepage

.news-tiles {
    @media #{$medium-up} {
        @include block-grid($per-row: 2, $spacing: $block-grid-default-spacing, $base-style: true);
    }
    @media #{$xlarge-up} {
        @include block-grid($per-row: 4, $spacing: $block-grid-default-spacing, $base-style: true);
    }
}

.news-tiles-pair {
    @media #{$medium-up} {
        @include block-grid($per-row: 1, $spacing: $block-grid-default-spacing, $base-style: true);
    }
    @media #{$xlarge-up} {
        @include block-grid($per-row: 2, $spacing: $block-grid-default-spacing, $base-style: true);
    }
}

.news-tile {
    position: relative;
    border-radius: 0;
    height: rem-calc(260);
    overflow: hidden;

    .img {
        line-height: rem-calc(150); // magic
    }

    // Special widths
    .news-tile-button {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $apc-grey;
    }
}

//=========================================
//
//=========================================