/*
    NAVIGATION.CSS

    - Last updated: 08.01.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Navigation
//-----------------------------------------------------------------

.navigation {
    display: none;
    background: $primary-color;

    @media #{$xlarge-up} {
        display: block;
    }
}

// Presentable Links
.topbar > ul > li > a {
    text-transform: uppercase;
    font-size: rem-calc(13);
    // Because Proxima Nova is hard to read at this size
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

//=========================================
// Topbar
//=========================================

.topbar {
	// z-index: 1; Need?
}

.topbar > ul {
	margin: 0;

	@media #{$medium-up} {
		width: 100%;
		display: table;
		text-align: center;
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.topbar li {
	display: inline-block;
	display: table-cell;
}

.topbar > ul > li {
	border: 1px solid $primary-color; // invisible border - use it for dropdown
	// z-index: 20;
}

// Illusion
.topbar > ul > li > a {
	margin-bottom: rem-calc(10);
}

//=========================================
//
//=========================================

.topbar a {
	position: relative; // keep? - placed for mega menu test
	display: block;
	padding: rem-calc(5 12);
	margin: rem-calc(0 2);
	// margin: rem-calc(10 0);
	color: white;
	font-weight: 500;
	z-index: 10;

	@media #{$large-up} {
		color: white;
	}
}

.topbar .active > a {
	background: darken($primary-color, 10%);
	border-radius: $global-radius 0 $global-radius 0;
}

.topbar li.active:first-child > a {
	background: none;
}

//=========================================
// Nested Dropdowns
//=========================================

/* UX decision, dropdowns are fiddly on tablets - formerly no-touch - 28.01.15 */
.topbar .has-dropdown:hover > .dropdown {
	opacity: 1;
	height: auto;
	overflow: visible;
	border: 1px solid #5A5760;
	top: 100%;
}

.topbar .has-dropdown:hover > a:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	height: 43px; // magic
	display: block;
	background: $primary-color;
	z-index: -1;
	border: 1px solid #5A5760;
	border-bottom-color: $primary-color;
}

.topbar .dropdown .has-dropdown:hover > .dropdown {
	opacity: 1;
	height: auto;
}

//=========================================

.topbar .dropdown {
	// @include transition(opacity);
	position: absolute;
	opacity: 0;
	// top: 100%;
	top: -10000px;
	left: 0;
	width: 100%;
	margin: 0;
	padding: rem-calc(20);
	z-index: 2; // fix for tabs
	background: $primary-color;

	a {
		color: #ccc;

		&:hover {
			color: white;
		}
	}

	h5 a {
		color: white;
		text-transform: uppercase;
	}
}

.topbar .dropdown li {
	position: relative;
	display: block;
	text-align: left;
	// float: none;
}

.topbar .dropdown a {
	// border-bottom: 1px solid rgba(255,255,255,.1);
	margin: 0;
	padding: 0;
}