/*
    NAVIGATION.CSS

    - Last updated: 19.12.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.navigation {
    background: $primary-color;
    // background: orange;
}

.topbar > ul > li > a {
    text-transform: uppercase;
    font-size: rem-calc(13);
    font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

//=========================================
//
//=========================================

.topbar {
	z-index: 1;
}

.topbar > ul {
	// position: relative;
	margin: 0;

	@media #{$medium-up} {
		width: 100%;
		display: table;
		text-align: center;
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.topbar li {
	display: inline-block;
	display: table-cell;
}

// Illusion
.topbar > ul > li > a {
	margin-bottom: rem-calc(10);
}

//=========================================
//
//=========================================

.topbar a {
	display: block;
	padding: rem-calc(5 12);
	margin: rem-calc(0 2);
	// margin: rem-calc(10 0);
	color: white;
	font-weight: 500;

	@media #{$large-up} {
		color: white;
	}
}

.topbar a:active,
.topbar .active > a {
	background: darken($primary-color, 10%);
	border-radius: $global-radius 0 $global-radius 0;
}

.topbar li.active:first-child > a {
	background: none;
}

//=========================================
// Nested Dropdowns
//=========================================

/* UX decision, dropdowns are fiddly on tablets */
.no-touch .topbar .has-dropdown:hover > .dropdown {
	opacity: 1;
	height: auto;
	overflow: visible;
	border: 1px solid #5A5760;
}

.no-touch .topbar .has-dropdown:hover > a {
	color: white;
	// background: #222;
	background: rgba(0, 0, 0, .5);
	border-radius: $global-radius 0 $global-radius 0;
}

.no-touch .topbar .dropdown .has-dropdown:hover > .dropdown {
	opacity: 1;
	height: auto;
}

.topbar .dropdown {
	position: absolute;
	// opacity: 0;
	height: 0; // so hit areas aren't triggered
	overflow: hidden; // so hit areas aren't triggered
	top: 100%;
	left: 0;
	width: 100%;

	margin: 0;

	z-index: 1;
	// background: lighten($primary-color, 20%);
	// background: $primary-color;
	background: rgba($primary-color, .98);

	h5 {
		color: white;
	}
}

.topbar .dropdown > ul {
	padding: rem-calc(20);
}

/* Third level nesting */
// .topbar .dropdown .dropdown {
// 	position: absolute;
// 	top: 0;
// 	left: 100%;

// 	display: none;
// }

.topbar .dropdown li {
	position: relative;
	display: block;
	text-align: left;
	// float: none;
}

.topbar .dropdown a {
	// border-bottom: 1px solid rgba(255,255,255,.1);
	margin: 0;
	padding: 0;
}

// .topbar .dropdown li:last-child a {
// 	border-bottom: 0;
// }

// .topbar .dropdown a:hover {
// 	background: #4A757E;
// }