/*
    SECTIONS.CSS

    - Last updated: 10.12.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

// .intro-section {
//     font-size: 14px;
// }

.claim-section {
    border-top: 6px solid $primary-color;
}

.section .button-list {
    @media #{$medium-up} {
        margin-left: rem-calc(60);
    }
}

// .image-section {
//     border-bottom: 6px solid $primary-color;
// }

.image-group-photo {
    background-image: url(../img/apc/content/heroes/APC_Home_02.jpg);
    height: rem-calc(570);
    margin-bottom: 0;

    @media #{$xxlarge-up} {
        // background-attachment: fixed;
    }
}

.image-bridge-photo {
    background-image: url(../img/apc/content/heroes/APC_Home_03.jpg);
    height: rem-calc(570);
    margin-bottom: 0;

    @media #{$xxlarge-up} {
        // background-attachment: fixed;
    }
}

.image-girl-smiling {
    background-image: url(../img/apc/content/heroes/APC_Gallery_07.jpg);
    height: rem-calc(570);
    margin-bottom: 0;

    @media #{$xxlarge-up} {
        // background-attachment: fixed;
    }
}

//=========================================
//
//=========================================