@import "foundation/components/buttons";
/*
    SPECIAL.CSS (shame.css)

    - Last updated: 10.12.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$language-selector-width: rem-calc(115);

//-----------------------------------------------------------------
// Wizard
//-----------------------------------------------------------------

.wizard .step-tab {
	background: #D5D6D8;
	display: block;
	margin-bottom: 0;
	border-bottom: 0;
	opacity: 0.4;
}

//-----------------------------------------------------------------
// Filter Item
//-----------------------------------------------------------------

.filter-item {
	width: 100%; // isotope - who knows
}

//-----------------------------------------------------------------
// Timeline Controls
//-----------------------------------------------------------------

.timeline-controls {
	margin-bottom: 0;

	button {
		background: $primary-color;
	}

	.year {
		padding: 10px 8px;
		display: inline-block;
		cursor: pointer;
	}

	.slick-list {
		// background: red;
		margin: 0 15px;
	}

	.slick-prev:before,
	.slick-next:before {
		font-family: 'FontAwesome';
		font-size: rem-calc(14);
	}

	.slick-prev {
		left: -10px;

		&:before {
			content: "\f04a";
		}
	}

	.slick-next {
		right: -10px;

		&:before {
			content: "\f04e";
		}
	}

	.year {
		display: inline-block;
		border-radius: $global-radius/2;

		&:hover {
			background: darken($primary-color, 10%);
		}
	}
}

// refactor
.timeline-controls .active .year {
	background: darken($primary-color, 10%);
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.static {
    position: static;
}

.inline {
	display: inline;
}

a {
    //@include transition();
}

.primary-color {
    color: $primary-color;
}

.lv-super .no-margin {
	margin: 0;
}

.collapse-left {
	@media #{$large-up} {
	    padding-left: 0;
	}
}

.weather-widget {
	background: $primary-color;
	color: white;
	padding: rem-calc(15);

	.temp {
		font-size: rem-calc(30);
	}
}

//=========================================
//
//=========================================