@import "foundation/components/buttons";
/*
    SPECIAL.CSS (shame.css)

    - Last updated: 10.12.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$language-selector-width: rem-calc(115);

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.filter-item {
	width: 100%; // isotope - who knows
}

.static {
    position: static;
}

.inline {
	display: inline;
}

a {
    //@include transition();
}

.primary-color {
    color: $primary-color;
}

.lv-super .no-margin {
	margin: 0;
}

.collapse-left {
	@media #{$large-up} {
	    padding-left: 0;
	}
}

.weather-widget {
	background: $primary-color;
	color: white;
	padding: rem-calc(15);

	.temp {
		font-size: rem-calc(30);
	}
}

//-----------------------------------------------------------------
// Language Selector
//-----------------------------------------------------------------

.language-selector {
	position: relative;
	float: right;
	margin-left: rem-calc(6); // magic
	width: rem-calc(34); // larger flag width
	min-height: rem-calc(26); // magic
	z-index: 100;

	@media #{$large-up} {
		width: $language-selector-width;
	}

	ul {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		margin: 0;
		list-style: none;
		color: white;
		text-align: left;
		z-index: 1;
	}

	li {
		margin: 0;
		display: none;

		&.active {
			display: block;

			a:after {
				@media #{$large-up} {
					position: absolute;
					right: rem-calc(8);
				    content: "\f04b";
				    font-family: 'FontAwesome';
				    font-size: rem-calc(9);
				    // margin-right: rem-calc(2);
				}
			}
		}
	}

	// MMenu
	li.Label {
		display: none !important;
	}

	a {
		display: block;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: $language-selector-width;
		overflow: hidden;

		font-size: rem-calc(11);
		text-transform: uppercase;
		line-height: 25px; // magic
		padding: rem-calc(0 5);
		color: white;
		border-radius: 4px 0 4px 0;

		@media #{$large-up} {
		    background: $apc_dark_blue;
		}

		&:hover {
			background: $apc-blue;
			border-radius: 0;
		}
	}

	.text {
		display: none;
		@media #{$large-up} {
		    display: inline;
		}
	}

	img {
		width: 26px;
	}
}

//=========================================
// Trigger - cover over
//=========================================

.language-selector .mobile-menu-trigger {
	position: absolute;
	top: 0;
	left: 0;
	background: none !important;
	width: 100%;
	height: 100%;
	z-index: 2;

	@media #{$large-up} {
	    display: none;
	}
}

//=========================================
// States
//=========================================

.language-selector:hover {
	@media #{$large-up} {
	    ul {
	    	background: $apc-dark-blue;
	    	// border: 1px solid #5A5760;
	    }

	    li {
	    	display: block;
	    }
	}
}

//=========================================
//
//=========================================