/*
    SPECIAL.CSS (shame.css)

    - Last updated: 10.12.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.static {
    position: static;
}

a {
    //@include transition();
}

.primary-color {
    color: $primary-color;
}

.lv-super .no-margin {
	margin: 0;
}

.collapse-left {
	@media #{$large-up} {
	    padding-left: 0;
	}
}

.weather-widget {
	background: $primary-color;
	color: white;
	padding: rem-calc(15);

	.temp {
		font-size: rem-calc(30);
	}
}

//=========================================
//
//=========================================