/*
    TYPE.CSS

    - Last updated: 15.01.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Typography
//-----------------------------------------------------------------

header {
	background: $apc_blue;
}

//=========================================
// Headings
//=========================================

h1, h2, h3, h4, h5, h6 {
  color: $apc_blue;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
}

h3, h4 {
  font-weight: bold;
}

h5.sub_heading {
  font-weight: bold;
}

p.spaced {
  line-height: 1.8em;
}