/*
    VARIABLES.CSS

    - Last updated: 09.01.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

// $header-height-medium: rem-calc(70); // formerly 90
// $header-height-xlarge: rem-calc(90); // formerly 104

// Hero - targeting liquidvisual component hero
$hero-height: rem-calc(150);
$hero-height-medium: rem-calc(570);

$language-selector-height: 25px; // magic - match button height
$language-selector-bg: $apc-dark-blue;

//=========================================
//
//=========================================