<ul>
	<li class="Label">Choose a language</li>
	<li class="active"><a href="#australia"><img alt="Australia" src="/img/shared/flags/32/Australia.png">&nbsp; <span class="text">English</span></a></li>
	<li><a href="#southkorea"><img alt="Southkorea" src="/img/shared/flags/32/Southkorea.png">&nbsp; <span class="text">Korean</span></a></li>
	<li><a href="#china"><img alt="China" src="/img/shared/flags/32/China.png">&nbsp; <span class="text">Chinese</span></a></li>
	<li><a href="#thailand"><img alt="Thailand" src="/img/shared/flags/32/Thailand.png">&nbsp; <span class="text">Thai</span></a></li>
	<li><a href="#spain"><img alt="Spain" src="/img/shared/flags/32/Spain.png">&nbsp; <span class="text">Spanish</span></a></li>
	<li><a href="#japan"><img alt="Japan" src="/img/shared/flags/32/Japan.png">&nbsp; <span class="text">Japanese</span></a></li>
	<li><a href="#poland"><img alt="Poland" src="/img/shared/flags/32/Poland.png">&nbsp; <span class="text">Polish</span></a></li>
	<li><a href="#portugal"><img alt="Portugal" src="/img/shared/flags/32/Portugal.png">&nbsp; <span class="text">Portugal</span></a></li>
</ul>