<div class="main_link hidden-for-small-only" data-dropdown="language_selections" data-options="is_hover:true" id="language_nav" aria-expanded="false">

	<a class="button tiny round swish" href="" id="language-selector">
		<img alt="Australia" class="map" src="/img/shared/flags/32/Australia.png">
		English
		<i class="fa fa-play"></i>
	</a>

	{% include shared/languages.html %}

</div>

<!-- <div class="main_link visible-for-small-only" id="language_selector_mobile">
	<div class="text-right">
		<a class="right-off-canvas-toggle" href="#rightNav" role="button" aria-expanded="false"><img alt="Australia" class="map" src="assets/flags/32/Australia.png"></a>
	</div>
</div> -->