{% comment %}
<!--
	Updated: 11.12.14
	Note: sitemap data is pulled from /data/sitemap.yml

	Basic Output:
		<ul>
			<li class="active"><a href="/">Home</a></li>
			<li><a href="/some-link/">Some Link</a></li>
			<li class="has-dropdown"><a href="/parent-with-children/">Parent with Children</a>
				<ul class="dropdown">
					<li><a href="/parent-with-children/child-node/">Child Node</a></li>
				</ul>
			</li>
		</ul>
-->
{% endcomment %}

{% assign sitemap = site.data.apc.sitemap %}
{% assign url_paths = page.url | downcase | split: '/' %}

<ul>
	<!-- Important: leave 'Home' out of the loop -->
	<li class="{% if page.url == "/" %} active {% endif %}"><a href="/">Home</a></li>

	<!-- FIRST LEVEL -->
	{% for item in sitemap | offset: 1 %}
	{% assign active_path = item.title | downcase | slugify %}
	<li class="{% for path in url_paths %}{% if path == active_path %}active{% endif %}{% endfor %}{% if item.children %} has-dropdown {% endif %}">
		<a href="{{ item.url }}">{{ item.title }}</a>

		<!-- SECOND LEVEL DROPDOWN -->
		{% if item.children and item.include_children_in_nav %}
		<div class="dropdown">
			<ul class="medium-block-grid-3 large-block-grid-4">
				{% for item in item.children %}
					<li>
						<ul class="triangle-listX">
							<li><h5><a href="{{ item.url }}">{{ item.title }}</a></h5></li>
							{% for item in item.children %}
								<li><a href="{{ item.url }}">{{ item.title }}</a></li>
							{% endfor %}
						</ul>
					</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}

	</li>
	{% endfor %}
</ul>