---
layout: master
hero_link: /some-link-here/
---

{% assign settings = site.data.settings  %}

<div class="homepage">

	{% include hero.html %}

	<!-- MAIN -->
	<main class="main">

		<!-- INTRO CLAIM -->
        <div class="section has-small-padding claim-section">
            <div class="row">
                <div class="medium-8 columns">
                    <h2>Our Courses</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dictum libero. Aenean pharetra luctus erat, nec aliquet velit porta nec. Maecenas a velit in lorem feugiat suscipit quis et odio. Sed nulla orci, suscipit sit amet leo in, venenatis euismod mauris. Donec eu arcu ac arcu suscipit congue eget eu nulla. Praesent blandit, ipsum a facilisis faci...</p>
                </div> <!-- .columns -->
                <div class="medium-4 columns">
                    <div class="divider"></div>
                    <div class="button-list">
                        <a href="#" class="button medium swish"><i class="fa fa-play"></i>&nbsp; Apply Today</a>
                        <a href="#" class="button medium swish"><i class="fa fa-play"></i>&nbsp; Make an Enquiry</a>
                    </div>
                </div> <!-- .columns -->
            </div> <!-- .row -->
        </div> <!-- .our-courses-section -->

	</main>

</div> <!-- .homepage -->