---
layout: master
---

{% assign hero = "/img/apc/content/heroes/APC_2000x360_06.jpg" %}

<div class="internal">

    <!-- BREADCRUMBS -->
    <nav class="breadcrumbs-bar">
        <div class="row outer-row">
            <div class="columns">
                {% include shared/breadcrumbs.html %}
            </div> <!-- .columns -->
        </div> <!-- .row -->
    </nav> <!-- .breadcrumbs-wrapper -->

    <!-- HERO MODULE -->
    <div class="lv-hero-module has-auto-height">

        <!-- Hero Item -->
        <div class="lv-hero" style="background-image: url('{{ hero | prepend: site.assets }}')" data-background-image="...">
            <div class="row lv-vertical-center">

                <!-- Caption -->
                <div class="medium-8 columns">
                    <div class="lv-hero-caption animated">
                        <h1>{{ page.title }}</h1>
                    </div> <!-- .lv-hero-caption -->
                </div> <!-- .columns -->

            </div> <!-- .row -->
        </div> <!-- .lv-hero -->

    </div> <!-- .lv-hero-module -->



    <!-- CONTENT -->
    <div class="">
        {{ content }}
    </div> <!-- .row -->

</div> <!-- .internal -->