---
layout: master
---

{% assign hero = page.hero %}

<div class="internal">

    <!-- BREADCRUMBS -->
    <nav class="breadcrumbs-bar">
        <div class="row">
            <div class="columns">
                {% include shared/breadcrumbs.html %}
            </div>
        </div>
    </nav>

    {% unless page.exclude_hero %}

        <!-- HERO MODULE -->
        <div class="lv-hero-module has-auto-height">
            <!-- Hero Item -->
            <div class="lv-hero" style="background-image: url('{{ hero | prepend: site.assets }}')" data-background-image="{{ hero | prepend: site.assets }}"></div> <!-- .lv-hero -->
        </div> <!-- .lv-hero-module -->

    {% endunless %}

    {{ content }}

</div> <!-- .internal -->