/*
    BUTTONS.CSS

    - Last updated: 08.01.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Buttons
//-----------------------------------------------------------------

.button {
    border-radius: $global-radius;
}

.button i {
	font-size: .9em;
}

//=========================================
// Context
//=========================================

.header .button {
    margin-top: rem-calc(10);
    color: white;
    text-transform: capitalize; // decision
    font-weight: bold;

    &.show-for-medium-up {
    	@media #{$medium-up} {
    	    display: inline-block !important; // override annoying Foundation default
    	}
    }

    &.minimal {
    	background: none;
    	text-transform: uppercase;
    	color: #c1c1c1;
    }
}

//=========================================
//
//=========================================