/*
    BUTTONS.CSS

    - Last updated: 10.12.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Buttons
//-----------------------------------------------------------------

.header .button {
    margin-top: rem-calc(10);
    // padding: rem-calc(4 10);
    color: white;
    text-transform: capitalize;
    font-weight: bold;
}

//=========================================
//
//=========================================