/*
    CARD-SLIDER.CSS

    - Last updated: 10.12.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Social Networks
//-----------------------------------------------------------------

.lv-super .testimonial-slider {
    margin-bottom: rem-calc(10);
}

.card-slider .slick-slide {
    @include transition();
    opacity: 0.2;
    width: rem-calc(500);
}

.lv-super .card-slider .slick-prev,
.lv-super .card-slider .slick-next {
    height: rem-calc(50);
    margin-top: rem-calc(-25);
}

.lv-super .card-slider .slick-prev:before,
.lv-super .card-slider .slick-next:before {
    content: "\f105";
    font-family: 'FontAwesome';
    font-size: rem-calc(50);
}

.lv-super .card-slider .slick-prev:before {
    content: "\f104";
}

.card-slider .slick-center {
    opacity: 1;
}

.testimonial-block {
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.05);
    p {
        font-size: rem-calc(13);
    }

    .profile-pic {
        border-radius: 100%;
    }

    .flag-pic {
        display: inline-block;
        margin-right: rem-calc(10);
    }

    @media #{$medium-up} {
        margin: rem-calc(20 20 0 20);
    }
}

//=========================================
//
//=========================================