/*
    FOOTER.CSS

    - Last updated: 08.01.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Footer
//-----------------------------------------------------------------

.footer {
    color: white;

    h3 {
        // font-weight: 300;
        margin-bottom: rem-calc(20);
    }

    p {
        color: white;
        font-size: rem-calc(14);
    }

    a {
        @include transition();
        font-size: rem-calc(14);
        color: white;
        word-wrap: break-word;

        &:hover {
            color: $primary-color;
        }
    }

    //=========================================
    // Footer Top
    //=========================================

    .footer-top {
        background: $secondary-color;
        padding: rem-calc(30 0);
    }

    //=========================================
    // Footer Bottom
    //=========================================

    .footer-bottom {
        background: darken($secondary-color, 10%);
        padding: rem-calc(20 0);

        .footer-legal {
            color: #999;
            font-size: rem-calc(11);
        }

        a {
            font-size: rem-calc(13);
            color: #ccc;
        }
    }
}

//=========================================
//
//=========================================