/*
    HERO.CSS

    - Last updated: 01.08.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Hero
//-----------------------------------------------------------------

.homepage .lv-hero-caption h1 {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.09); // place back into liquidvisual?
    font-size: rem-calc(50); // formerly 50
    font-weight: bold;
    line-height: 1;
    margin-bottom: rem-calc(20);
    // color: white;

    @media #{$medium-up} {
        font-size: rem-calc(70); // formerly 90
    }
}

//=========================================
// Internal
//=========================================

.internal .lv-hero {
    height: rem-calc(360);

    .lv-hero-caption {
        padding: rem-calc(40 0);
    }

    h1 {
        margin-bottom: 0; // just incase
    }
}

.lv-hero-controls {
    position: absolute;
    top: rem-calc(300);
}

//=========================================
// liquidvisual override
//=========================================

.lv-hero .lv-vertical-center {
    @media #{$medium-up} {
        top: 35%; // to account for top margins of H1s
    }
}