/*
    SPECIAL.CSS (shame.css)

    - Last updated: 10.12.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.primary-color {
    color: $primary-color;
}

.headed .heading {
    background: lighten($secondary-color, 20%); // shouldn't have to do this
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

i.greyed {
    color: #DBDBDB;
}

h1, h2 {
    font-weight: 700;
    text-transform: uppercase;
}

.subheader {
    color: grey;
}

.proto {
    overflow:hidden;
    position: relative;
}

.proto:after {
    @media #{$large-up} {
        content: "";
        width: 1px;
        height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        background: #e1e1e1;
    }
}

//=========================================
//
//=========================================