/*
    VARIABLES.CSS

    - Last updated: 09.01.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$header-height-medium: rem-calc(70); // formerly 90
$header-height-xlarge: rem-calc(90); // formerly 104

$language-selector-height: 31px; // magic
$language-selector-bg: darken($secondary-color, 5%);

//=========================================
//
//=========================================