@import "foundation/settings";
/*
    SPECIAL.CSS

    - updated: 04.02.15
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Google Translate
//-----------------------------------------------------------------

#google_translate_element {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 100px;
    overflow: hidden;
}

//-----------------------------------------------------------------
// Course Finder
//-----------------------------------------------------------------

.course-post {
    background: white;
    overflow: hidden;
    padding: rem-calc(15 20);
    border: 1px solid #E1E1E1;
    border-top: 4px solid $primary-color;
    width: 100%;

    h3 {
        margin-bottom: 0;
    }

    .button {
        margin: 0;
    }
}

.no-touch .course-post:hover {
    background: rgba(yellow, .3);
}

.course-search {
    background: #E1E1E1;
    padding: 20px;

    .button {
        margin-bottom: 0;
    }

    input {
        background: white;
    }
}

//-----------------------------------------------------------------
// Move to shared forms
//-----------------------------------------------------------------

input[type=checkbox] {
    margin-right: 10px;
}

.course-finder-module {
    label {
        font-weight: normal;
        font-size: rem-calc(14);
    }
}

//-----------------------------------------------------------------
// Course Headings
//-----------------------------------------------------------------

.course-item-heading {
    border-radius: rem-calc(20 0 0 0);
}

//-----------------------------------------------------------------
// Accordion (refactor into own CSS file)
//-----------------------------------------------------------------

.accordion {
    margin-left: 0;
    border: 1px solid #E1E1E1;

    > li {
        border-bottom: 1px solid #E1E1E1;
    }

    li:last-child {
        border: 0;
    }

    // Icon
    > li > a:before {
        content: "\f0dd";
        font-family: 'FontAwesome';
        padding-right: 10px;
        float: right;
    }

    > li.active > a:before {
        content: "\f0de";
    }
}

.accordion-header {
    background: $primary-color;
    margin-bottom: rem-calc(30);
    padding: rem-calc(5 10);

    h5 {
        color: white;
        text-transform: uppercase;
        font-size: rem-calc(14);
        font-weight: bold;
        margin: 0;
    }
}

//=========================================
//
//=========================================