/*
    TEXT-EDITOR.CSS

    - Last updated: 08.08.15
    - hello@liquidvisual.com

    - Notes -

    - Point your CMS' text editor to this compiled stylesheet.
    - Any new styles created for the user, add in here too.
*/
//-----------------------------------------------------------------
// Imports
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Text Editor Classes examples only
//-----------------------------------------------------------------

// .lv-anchor-arrow
// .lv-button
// .example
// .lv-polaroid
// .cursive
// .lead
// .subheader
// .content-list

//-----------------------------------------------------------------
// Styles
//-----------------------------------------------------------------

.image-left {
	float: left;
	padding: rem-calc(5 20 20 0);
}

.image-right {
	float: right;
	padding: rem-calc(5 0 20 20);
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------