/*
    WIDGETS.CSS

    - Last updated: 15.01.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Weather
//-----------------------------------------------------------------

.weather-widget {
	background: $primary-color;
	color: white;
	padding: rem-calc(15);
}

.weather-widget-content {
	text-align: center;

	h2, h3, h4, h5, h6, small {
		color: white;
		font-weight: 600;
		text-transform: capitalize;
		line-height: 1;
	}

	h4 {
		font-weight: normal;
	}

	i {
		font-size: rem-calc(44);
	}

	.temp {
		font-size: rem-calc(30);
	}
}

//=========================================
//
//=========================================

//-----------------------------------------------------------------
// Gallery Slider
//-----------------------------------------------------------------

.gallery-slider {
	.slider {
		margin-bottom: 0;
	}

	.slick-slide {
		padding: 5px;
		cursor: pointer;
	}
}