button.button.medium, a.button.medium {
  background: $apc_blue;
  padding-top: 0.585rem;
  padding-right: .90rem;
  padding-bottom: 0.5875rem;
  padding-left: .90rem;
  font-size: 0.885rem;
}

button.button.tiny, a.button.tiny {
  padding-top: 0.405rem;
  padding-right: .70rem;
  padding-bottom: 0.4075rem;
  padding-left: .70rem;
  font-size: 0.6875rem;
}

button.button.round.swish, a.button.round.swish { 
  i { font-size: .8em; margin-right: 3px;}
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-transform: uppercase; 
  font-weight: 100; 
  background: $apc_dark_blue; 
  @include border-radius(6px 0px 6px 0px)
}

a.button.round.tiny.swish#language-selector {
  padding-left: 35px !important;
  i { margin-left: 6px; margin-right: 0; }
  .map { position: absolute; height: 26px; left: 4px; top: 0px;}
}

a.button.muted { background-color: $apc_grey !important; }

