#course_categories {

}

/** Can be applied sitewide **/
/** English Category **/
.english_cat { 
  .heading { background: $english_cat; }
  .content { 
    ul {
      li:before { 
        border-color: transparent $english_cat;
      }
    }
  }
}
ul.triangle li.english_cat:before {
  border-color: transparent $english_cat;
}
 .border-bottom.english_cat { border-bottom: 16px solid $english_cat; margin-bottom: 2em; }



/** Hospitality Cat **/
.hospitality_cat { 
  .heading { background: $hospitality_cat; }
  .content { 
    ul {
      li:before { 
        border-color: transparent $hospitality_cat;
      }
    }
  }
}
ul.triangle li.hospitality_cat:before {
  border-color: transparent $hospitality_cat;
}

.border-bottom.hospitality_cat { border-bottom: 16px solid $hospitality_cat; margin-bottom: 2em; }

/** Accounting Cat **/
.accounting_cat { 
  .heading { background: $accounting_cat; }
  .content { 
    ul {
      li:before { 
        border-color: transparent $accounting_cat;
      }
    }
  }
}
ul.triangle li.accounting_cat:before {
  border-color: transparent $accounting_cat;
}

 .border-bottom.accounting_cat { border-bottom: 16px solid $accounting_cat; margin-bottom: 2em; }

/** Marketing Cat **/
.marketing_cat { 
  .heading { background: $marketing_cat; }
  .content { 
    ul {
      li:before { 
        border-color: transparent $marketing_cat;
      }
    }
  }
}
ul.triangle li.marketing_cat:before {
  border-color: transparent $marketing_cat;
}

 .border-bottom.marketing_cat { border-bottom: 16px solid $marketing_cat; margin-bottom: 2em; }

/** Tourism Cat **/
.tourism_cat { 
  .heading { background: $tourism_cat; }
  .content { 
    ul {
      li:before { 
        border-color: transparent $tourism_cat;
      }
    }
  }
}
ul.triangle li.tourism_cat:before {
  border-color: transparent $tourism_cat;
}

 .border-bottom.tourism_cat { border-bottom: 16px solid $tourism_cat; margin-bottom: 2em; }

/** Info Tech Category **/
.information_tech_cat { 
  .heading { background: $information_tech_cat; }
  .content { 
    ul {
      li:before { 
        border-color: transparent $information_tech_cat;
      }
    }
  }
}
ul.triangle li.information_tech_cat:before {
  border-color: transparent $information_tech_cat;
}

 .border-bottom.information_tech_cat { border-bottom: 16px solid $information_tech_cat; margin-bottom: 2em; }

/** Business Cat **/
.business_cat { 
  .heading { background: $business_cat; }
  .content { 
    ul {
      li:before { 
        border-color: transparent $business_cat;
      }
    }
  }
}
ul.triangle li.business_cat:before {
  border-color: transparent $business_cat;
}

 .border-bottom.business_cat { border-bottom: 16px solid $business_cat; margin-bottom: 2em; }

/** Management Cat **/
.management_cat { 
  .heading { background: $management_cat; }
  .content { 
    ul {
      li:before { 
        border-color: transparent $management_cat;
      }
    }
  }
}
ul.triangle li.management_cat:before {
  border-color: transparent $management_cat;
}

.border-bottom.management_cat { border-bottom: 16px solid $management_cat; margin-bottom: 2em; }

/** Tesol Cat **/
.tesol_cat { 
  .heading { background: $tesol_cat; }
  .content { 
    ul {
      li:before { 
        border-color: transparent $tesol_cat;
      }
    }
  }
}
ul.triangle li.tesol_cat:before {
  border-color: transparent $tesol_cat;
}

.border-bottom.tesol_cat { border-bottom: 16px solid $tesol_cat; margin-bottom: 2em; }
