// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {
  #logo { padding: 1.6em 0 1.6em .5em;}
  #quick-links { margin: 10px; float: none;}
  .tab-bar { border-top: 1px solid $apc_grey; }
  .tab-bar a { color: #fff; font-weight: 200;}
  .right-small { border: none;}
  .row.filters .small-12 { padding-bottom: .5em; padding-top: .5em; }
  .heading { padding-left: 0 !important;}
  #contents_agents .contents .small-12 { margin-bottom: 2em; }
  .responsive_top { background: $apc_dark_blue; padding: 0; position: relative;
    .inline-list { margin: 0; padding: 0;}
    ul#quick-links, ul#quick-links li { margin: 0; padding: 0; ul { li { padding-left: 12px; } } }
    ul#quick-links { height: 40px; }
    ul#quick-links li.main_link { padding: 8px 8px 0 0;}
  }
  #language_selector_mobile { display: block; position: absolute; padding-top: 6px; padding-right: 8px;}
  .course_details h4 { font-size: 1.8em;}
  .side_content h4 { font-size: 1.6em;}
  .side_content h5 { font-size: 1.4em;}
  .action-block { margin-top: 2%;}
  .blue_top_strap { padding-bottom: 2em; }
  h4.no-transform { font-size: 1.4em; line-height: 1.6em;}
  .list_box .heading, .course .heading { 
    @include border-radius(0px 0px 0px 0px);
    padding: .75em 0 .3em 1.35em;
  }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { 
  // .contents { min-width: 960px;}
  .action-block { margin-top: 2%;}
  .blue_top_strap { padding-bottom: 0; }
    .dropdown-wrapper {
      background-color: #fff !important;
  }
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
  .contents { min-width: 1025px;}
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */
