$apc_blue: #0c4d9e;
$apc_smoke: #f1f1f1;
$apc_grey: #808285;
$apc_dark_grey: #706d78;
$apc_dark_blue: #0e3c77;

$english_cat: #4bb1e4;
$hospitality_cat: #b2a259;
$accounting_cat: #91ba3f;
$marketing_cat: #507e95;
$tourism_cat: #669933;
$information_tech_cat: #9999cc;
$business_cat: #d15c1d;
$management_cat: #993333;
$tesol_cat: #e6c83a;

