#home_hero_1 { min-height: 380px; background-size: cover; background-image: url(asset_path('heroes/APC_Home_02.jpg')) }
#home_hero_2 { min-height: 520px; background-size: cover; background-image: url(asset_path('heroes/APC_Home_03.jpg')) }
#home_hero_3 { min-height: 400px; background-size: cover; background-image: url(asset_path('heroes/APC_Home_04.jpg')) }
